<div class="ui-g-12 ui-g-nopad">
  <div class="login-container padding-50">
    <div class="logo-container margin-bottom-40">
      <img src="../../../assets/images/logo2.png" alt="로고 이미지"  />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="info-container">
      <fieldset>
        <label for="input-id"></label>
        <input pInputText type="text" id="input-id" formControlName="user_id" class="margin-bottom-10" title="아이디 입력" placeholder="아이디 입력" name="userID" autocomplete="off" />

        <label for="input-pswd"></label>
        <input pPassword [feedback]="false" type="password" id="input-pswd" formControlName="user_password" class="margin-bottom-30" title="비밀번호 입력" placeholder="비밀번호 입력" name="userPassword" />

        <button pButton type="submit" [disabled]="!loginForm.valid" class="orange-btn big-btn login-btn">LOGIN</button>
      </fieldset>
    </form>
  </div>
</div>

<p-dialog [(visible)]="isShowLoginMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-15 margin-bottom-30"> 로그인 정보를 확인해주세요.</p>
  <div class="txt-center">
    <button type="button" class="btn" (click)="isShowLoginMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>