.login-container {width: 500px; margin: 280px auto 0; border: 1px solid #ddd; border-radius: 10px;  box-sizing: border-box; text-align: center;}
.login-container .info-container input {width: 90%; height: 40px;}

.login-btn { border: none !important; border-radius: 10px; background: #ff6400 !important;}
.login-btn:hover, .login-btn:focus {background: #ea5c00 !important;}
.login-btn:active {background: #cf5100 !important;}