<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        SETTINGS / <span class="path">그룹관리</span>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>그룹 기본 정보</h3> <a routerLink="/settings/add-group"></a>
        </div>
        <table>
            <caption>그룹 기본 정보 테이블</caption>
            <colgroup>
                <col style="width: 200px;" />
                <col style="width: 500px;" />
                <col style="width: 200px;" />
                <col style="width: 500px;" />
            </colgroup>
            <tr>
                <th>그룹명</th>
                <td colspan="3">{{groupData.grp_nm}}</td>
            </tr>
            <tr>
                <th>등록일</th>
                <td>{{groupData.grp_reg_dtm}}</td>
                <th>수정일</th>
                <td>{{groupData.grp_upd_dtm}}</td>
            </tr>
        </table>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>변환옵션 목록</h3>
        </div>
        <p-table class="ui-g-12 ui-g-nopad" [value]="transOptions" [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of transOptionsCols" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of transOptionsCols" pResizableColumn>
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transOption >
                <tr class="settingOptionTr">
                    <td>{{ transOption.gto_seq }}</td>
                    <td>{{ transOption.gto_nm }}</td>
                    <td>
                        {{ transOption.gto_use_yn }}
                        <!--<p-dropdown placeholder="사용여부" [options]="transUse" [(ngModel)]="selectedOption"></p-dropdown>-->
                    </td>
                    <td><input type="text" id='fileSuffix' value="{{transOption.gto_file_suffix}}"></td>
                    <td>
                        {{ transOption.gto_frame_rate }}
                        <!--<input type="text" id='frameRate' value="{{transOption.gto_frame_rate}}"> -->
                    </td>
                    <td><input type="text" id='videoBit' value="{{transOption.gto_video_bitrate}}"></td>
                    <td><input type="text" id='audioBit' value="{{transOption.gto_audio_bitrate}}"></td>
                    <td><input type="text" id='dstWidth' value="{{transOption.gto_dst_width}}"></td>
                    <td><input type="text" id='dstHeight' value="{{transOption.gto_dst_height}}"></td>
                    <td><button type="button" class="btn" (click)="changeOption()"><i class="fas fa-edit"></i> 수정</button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>