<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        <a routerLink="/home"><i class="fas fa-home"></i></a> > <a routerLink="/settings/group-manager" (click)="refresh()">설정</a> > <span class="path" (click)="refresh()">서비스관리</span>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>그룹 기본 정보</h3>
        </div>
        <table>
            <caption>그룹 기본 정보 테이블</caption>
            <colgroup>
                <col style="width: 200px;" />
                <col style="width: 500px;" />
                <col style="width: 200px;" />
                <col style="width: 500px;" />
            </colgroup>
            <tr>
                <th>그룹명</th>
                <td colspan="3"> {{ groupData['grp_nm'] }} </td>
            </tr>
            <tr>
                <th>등록일</th>
                <td> {{ groupData['grp_reg_dtm'] }} </td>
                <th>수정일</th>
                <td> {{ groupData['grp_upd_dtm'] }} </td>
            </tr>
        </table>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>변환옵션 목록</h3>
        </div>
        <p-table class="ui-g-12 ui-g-nopad" id="transOptionTable" [value]="transOptions" [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of transOptionsCols" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of transOptionsCols" pResizableColumn>
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr class="settingOptionTr" *ngFor="let transOption of transOptions; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ transOption.gto_nm }}</td>
                    <td [ngStyle]="{'overflow': 'unset'}">
                        <p-dropdown placeholder="사용여부" [options]="transUse" [(ngModel)]="selectUseOption[i]" [style]="{'width': '80px'}"></p-dropdown>
                    </td>
                    <td><input type="text" id='fileSuffix{{ i }}' value="{{ transOption.gto_file_suffix }}" autocomplete="off"></td>
                    <td [ngStyle]="{'overflow': 'unset'}">
                        <p-dropdown placeholder="FPS" [options]="transFPS" [(ngModel)]="selectFPSOption[i]" [style]="{'width': '80px'}"></p-dropdown>
                    </td>
                    <td><input type="text" id='videoBit{{ i }}' value="{{ transOption.gto_video_bitrate }}" autocomplete="off"></td>
                    <td><input type="text" id='audioBit{{ i }}' value="{{ transOption.gto_audio_bitrate }}" autocomplete="off"></td>
                    <td><input type="text" id='dstWidth{{ i }}' value="{{ transOption.gto_dst_width }}" autocomplete="off"></td>
                    <td><input type="text" id='dstHeight{{ i }}' value="{{ transOption.gto_dst_height }}" autocomplete="off"></td>
                    <td><button type="button" class="btn" (click)="changeOption(i, transOption.gto_seq)"><i class="fas fa-edit"></i> 수정</button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
    <p class="txt-center margin-top-15 margin-bottom-20">수정완료 되었습니다.</p>
    <div class="txt-center">
        <button type="button" class="btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
    </div>
</p-dialog>