<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        <a routerLink="/home"><i class="fas fa-home"></i></a> > <a routerLink="/settings/group-manager" (click)="refresh()">설정</a> > <span class="path" (click)="refresh()">서비스관리</span>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>서비스 기본 정보</h3>
        </div>
        <table>
            <caption>서비스 기본 정보 테이블</caption>
            <colgroup>
                <col style="width: 200px;" />
                <col style="width: 500px;" />
                <col style="width: 200px;" />
                <col style="width: 500px;" />
            </colgroup>
            <tr>
                <th>서비스명</th>
                <td colspan="3"> {{ groupData['grp_nm'] }} </td>
            </tr>
            <tr>
                <th>인증키</th>
                <td> {{ groupData['authkey'] }} </td>
                <th>URL</th>
                <td> {{ groupData['url'] }} </td>
            </tr>
            <tr>
                <th>발급일</th>
                <td> {{ groupData['sdate'] }} </td>
                <th>만료일</th>
                <td> {{ groupData['edate'] }} </td>
            </tr>
        </table>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>플레이어 설정</h3>
        </div>
        <form [formGroup]="playerPresetForm" (ngSubmit)="onSubmit(playerPresetForm.value)" class="ui-g-12 ui-g-nopad padding-top-30 padding-bottom-30">
            <fieldset>
                <div class="ui-g-1 ui-g-nopad">&nbsp;</div>
                <div class="ui-g-2 ui-g-nopad button-area">
                    <label class="presetLabel" for="bookmark" (click)="setPlayerPreset($event)">북마크</label>
                    <label class="presetLabel" for="setting" (click)="setPlayerPreset($event)">설정버튼</label>
                    <label class="presetLabel" for="nextVideo" (click)="setPlayerPreset($event)">다음 영상</label>
                    <label class="presetLabel" for="playbackRate" (click)="setPlayerPreset($event)">배속버튼</label>
                    <label class="presetLabel" for="loopPortion" (click)="setPlayerPreset($event)">구간반복</label>
                    <label class="presetLabel" for="fullscreen" (click)="setPlayerPreset($event)">전체화면</label>
                    <label class="presetLabel" for="cinemaMode" (click)="setPlayerPreset($event)">영화관화면</label>
                    <label class="presetLabel" for="quality" (click)="setPlayerPreset($event)">화질선택</label>
                    <label class="presetLabel" for="subtitle" (click)="setPlayerPreset($event)">자막기능</label>
                </div>
                <div class="ui-g-8 ui-g-nopad player-view-area">
                    <img src="../../../../../../assets/images/player-section.png" alt="default player view" id="defaultImg">
                    <div class="overlay-area">
                        <input type="checkbox" class="presetCheckbox" id="bookmark" formControlName="bookmark">
                        <img src="../../../../../../assets/images/bookmark.png" alt="북마크" id="bookmarkImg">
                        <input type="checkbox" class="presetCheckbox" id="setting" formControlName="setting">
                        <img src="../../../../../../assets/images/setting.png" alt="설정버튼" id="settingImg">
                        <input type="checkbox" class="presetCheckbox" id="nextVideo" formControlName="nextVideo">
                        <img src="../../../../../../assets/images/nextVideo.png" alt="다음 영상" value="Y" id="nextVideoImg">
                        <input type="checkbox" class="presetCheckbox" id="playbackRate" formControlName="playbackRate">
                        <img src="../../../../../../assets/images/playbackRate.png" alt="배속버튼" id="playbackRateImg">
                        <input type="checkbox" class="presetCheckbox" id="loopPortion" formControlName="loopPortion">
                        <img src="../../../../../../assets/images/loopPortion.png" alt="구간반복" id="loopPortionImg">
                        <input type="checkbox" class="presetCheckbox" id="fullscreen" formControlName="fullscreen">
                        <img src="../../../../../../assets/images/fullscreen.png" alt="전체화면" id="fullscreenImg">
                        <input type="checkbox" class="presetCheckbox" id="cinemaMode" formControlName="cinemaMode">
                        <img src="../../../../../../assets/images/cinemaMode.png" alt="영화관화면" id="cinemaModeImg">
                        <input type="checkbox" class="presetCheckbox" id="quality" formControlName="quality">
                        <img src="../../../../../../assets/images/quality.png" alt="화질선택" id="qualityImg">
                        <input type="checkbox" class="presetCheckbox" id="subtitle">
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad margin-top-40 btn-sec">
                    <button type="button" class="btn margin-right-10" (click)="resetPreset()"><i class="fas fa-history"></i> 초기화</button>
                    <button type="submit" class="btn"><i class="fas fa-check"></i> 적용</button>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="ui-g-12 ui-g-nopad table-sec groupMng-table-sec">
        <div class="ui-g-12 ui-g-nopad table-title-sec">
            <h3>변환옵션 목록</h3>
        </div>
        <p-table class="ui-g-12 ui-g-nopad" id="transOptionTable" [value]="transOptions" [resizableColumns]="true">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of transOptionsCols" [style.width]="col.width">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of transOptionsCols" pResizableColumn>
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr class="settingOptionTr" *ngFor="let transOption of transOptions; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ transOption.gto_nm }}</td>
                    <td [ngStyle]="{'overflow': 'unset'}">
                        <p-dropdown placeholder="사용여부" [options]="transUse" [(ngModel)]="selectUseOption[i]" [style]="{'width': '80px'}"></p-dropdown>
                    </td>
                    <td><input type="text" id='fileSuffix{{ i }}' value="{{ transOption.gto_file_suffix }}" autocomplete="off"></td>
                    <td [ngStyle]="{'overflow': 'unset'}">
                        <p-dropdown placeholder="FPS" [options]="transFPS" [(ngModel)]="selectFPSOption[i]" [style]="{'width': '80px'}"></p-dropdown>
                    </td>
                    <td><input type="text" id='videoBit{{ i }}' value="{{ transOption.gto_video_bitrate }}" autocomplete="off"></td>
                    <td><input type="text" id='audioBit{{ i }}' value="{{ transOption.gto_audio_bitrate }}" autocomplete="off"></td>
                    <td><input type="text" id='dstWidth{{ i }}' value="{{ transOption.gto_dst_width }}" autocomplete="off"></td>
                    <td><input type="text" id='dstHeight{{ i }}' value="{{ transOption.gto_dst_height }}" autocomplete="off"></td>
                    <td><button type="button" class="btn" (click)="changeOption(i, transOption.gto_seq)"><i class="fas fa-edit"></i> 수정</button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
    <p class="txt-center margin-top-15 margin-bottom-20">적용 완료 되었습니다.</p>
    <div class="txt-center">
        <button type="button" class="btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
    </div>
</p-dialog>

<p-confirmDialog width="500" #confirm>
    <p-footer>
        <button type="button" class="btn margin-right-10" (click)="confirm.accept()"><i class="fas fa-check"></i> 확인</button>
        <button type="button" class="btn" (click)="confirm.reject()"><i class="fas fa-times"></i> 취소</button>
    </p-footer>
</p-confirmDialog>