<div class="ui-g-12 ui-g-nopad">
  <!--폴더선택-->
  <div class="ui-g-12 ui-g-nopad">
    <p-dropdown [options]="folderArray" [(ngModel)]="selectedFolder" (onChange)="changeSelectFolder()"></p-dropdown>
  </div>
  <!--검색-->
  <!--<div class="ui-g-12 ui-g-nopad">-->
    <!--<label for="file-key"></label><input type="text" class="margin-right-5" id="file-key" [(ngModel)]="searchKey" pInputText placeholder="파일명 입력" autocomplete="off">-->
    <!--<button type="button" class="btn margin-right-5" (click)="search()"><i class="fas fa-search"></i> 검색</button>-->

    <!--<span>총 {{ searchLength }}개 검색되었습니다.</span>-->
  <!--</div>-->
</div>