<div class="ui-g-12 margin-bottom-50">
  <p-panel class="ui-g-12 ui-g-nopad margin-bottom-30">
    <p-header>
      <span style="display: inline-block; margin-top: 5px;">사용 중 서비스</span>
      <button pButton label="서비스 변경/추가" style="float: right;"></button>
    </p-header>
    <form>
      <fieldset>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">사용중 서비스</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            STANDARD (0원 / 1개월)
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">사용기간</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            2018-10-24 ~ 2019-10-23
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">만료일</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            2018-04-05 13:47:44
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">다음 결제일</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            2018-04-05 13:47:44
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">결제 예정 금액</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            0 원
          </div>
        </div>
      </fieldset>
    </form>
  </p-panel>
  <div class="ui-g-12 ui-g-nopad margin-bottom-50">
    <div class="ui-g-12 ui-lg-4">
      <div class="price_info_sec">
        <div class="price_title_sec">
          <h2>TRIAL</h2>
          <p>
            1개월 체험
          </p>
        </div>
        <div class="price_contents_sec">
          <div class="price_contents">
            <img src="../../../../../../../../assets/layout/images/gxp/service_img.png" alt="이미지" /><br />
          </div>
          <div class="btn_sec padding-top-45">
            <span>&#x20A9; 0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
      <div class="price_info_sec">
        <div class="price_title_sec">
          <h2>STANDARD</h2>
          <p>
            곰 HTML5 플레이어<br />
            기본기능을 제공합니다.
          </p>
        </div>
        <div class="price_contents_sec">
          <div class="price_contents">
            <img src="../../../../../../../../assets/layout/images/gxp/service_img.png" alt="이미지" /><br />
          </div>
          <div class="btn_sec padding-top-45">
            <span class="margin-right-10">월정액</span>
            <span>&#x20A9; 400,000</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
      <div class="price_info_sec price_info_sec1">
        <div class="price_title_sec">
          <h2>ENTERPRISE</h2>
          <p>
            곰 HTML5 플레이어<br />
            부가기능을 추가할 수<br />
            있습니다.
          </p>
        </div>
        <div class="price_contents_sec">
          <div class="price_contents">
            <img src="../../../../../../../../assets/layout/images/gxp/service_img2.png" alt="이미지" />
          </div>
          <div class="btn_sec padding-top-35">
            <p>가격 협의</p>
            <span>부가기능 종류에 따라 가격 상이</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-panel header="사용량" class="ui-g-12 ui-g-nopad margin-bottom-30">
    <form>
      <fieldset>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">인코딩</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            000MB
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">GXP 사용량</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            50% (000MB / 000MB)
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">실시간 광고전송</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            사용중
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-3 ui-g-nopad">라이브 채팅</p>
          <div class="form-data ui-g-9 ui-g-nopad">
            사용중
          </div>
        </div>
      </fieldset>
    </form>
  </p-panel>
</div>