<div class="ui-g-nopad ui-g-12 margin-top-30" style="margin-bottom: 10vh; min-width: 1000px;">
  <div class="card">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)">
      <fieldset>
        <div class="ui-g-12 ui-g-nopad margin-bottom-50" formGroupName="licenseKey">
          <div class="form-header ui-g-12 ui-g-nopad">
            API 인증키
          </div>
          <div class="form-border ui-g-12 ui-g-nopad">
            <div class="form-row ui-g-12 ui-g-nopad">
              <p class="form-title ui-g-2 ui-g-nopad">도메인 <span class="c_red">*</span></p>
              <div class="form-data ui-g-10 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="domain" id="domain" title="도메인 입력" autocomplete="off" placeholder="www를 뺀 도메인만 입력해주세요." style="width: calc(100% - 200px);">
                <button pButton type="button" label="중복확인"></button>
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">발급일</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <p-calendar formControlName="sdate" [showIcon]="true" dateFormat="yy.mm.dd" [locale]="localeObject" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">만료일</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <p-calendar formControlName="edate" [showIcon]="true" dateFormat="yy.mm.dd" [locale]="localeObject" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange"></p-calendar>
              </div>
            </div>
            <div class="form-row ui-g-12 ui-g-nopad">
              <p class="form-title ui-g-2 ui-g-nopad">인증키</p>
              <div class="form-data ui-g-10 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="key" id="authkey" title="인증키 입력" autocomplete="off" maxlength="50" style="color: #000;" disabled />
                <button type="button" pButton class="btn square-btn" id="authkey_btn" label="인증키 발급" (click)="setAuthkey()"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad margin-bottom-50" formGroupName="playerPreset">
          <div class="form-header ui-g-12 ui-g-nopad">
            플레이어 프리셋
          </div>
          <div class="form-border ui-g-12 ui-g-nopad">
            <div class="form-row ui-g-12 ui-g-nopad">
              <p class="form-title ui-g-2 ui-g-nopad">서비스 타입</p>
              <div class="form-data ui-g-10 ui-g-nopad">
                <p-radioButton formControlName="service_type" name="service_type" binary="true" label="일반" value="일반" class="margin-right-20"></p-radioButton>
                <p-radioButton formControlName="service_type" name="service_type" binary="true" label="LMS" value="LMS" class="margin-right-20"></p-radioButton>
              </div>
            </div>
            <div class="form-row ui-g-12 ui-g-nopad">
              <p class="form-title ui-g-2 ui-g-nopad">프리셋 설정</p>
              <div class="form-data ui-g-10 ui-g-nopad">
                <div class="ui-g-2 ui-g-nopad button-area">
                  <label class="presetLabel on" for="playbackRate" (click)="setPlayerPreset($event)">배속버튼</label>
                  <label class="presetLabel on" for="loopPortion" (click)="setPlayerPreset($event)">구간반복</label>
                  <label class="presetLabel on" for="bookmark" (click)="setPlayerPreset($event)">북마크</label>
                  <label class="presetLabel on" for="prevVideo" (click)="setPlayerPreset($event)">이전 영상</label>
                  <label class="presetLabel on" for="nextVideo" (click)="setPlayerPreset($event)">다음 영상</label>
                  <label class="presetLabel on" for="canDragSeekingBar" (click)="setPlayerPreset($event)">재생바 드래그</label>
                  <label class="presetLabel on" for="control10seconds" (click)="setPlayerPreset($event)">10초 앞으로/뒤로</label>
                </div>
                <div class="ui-g-8 ui-g-nopad player-view-area">
                  <img src="../../../../../../assets/layout/images/gxp/player-section.png" alt="default player view" id="defaultImg">
                  <div class="overlay-area">
                    <input type="checkbox" class="presetCheckbox" id="playbackRate" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/playbackRate.png" alt="배속버튼" id="playbackRateImg">
                    <input type="checkbox" class="presetCheckbox" id="loopPortion" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/loopPortion.png" alt="구간반복" id="loopPortionImg">
                    <input type="checkbox" class="presetCheckbox" id="bookmark" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/bookmark.png" alt="북마크" id="bookmarkImg">
                    <input type="checkbox" class="presetCheckbox" id="nextVideo" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/nextVideo.png" alt="다음 영상"  id="nextVideoImg">
                    <input type="checkbox" class="presetCheckbox" id="control10seconds" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/control10seconds.png" alt="10초 앞으로/뒤로" id="control10secondsImg">
                    <input type="checkbox" class="presetCheckbox" id="setting" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/setting.png" alt="설정버튼" id="settingImg">
                    <input type="checkbox" class="presetCheckbox" id="fullscreen" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/fullscreen.png" alt="전체화면" id="fullscreenImg">
                    <input type="checkbox" class="presetCheckbox" id="cinemaMode" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/cinemaMode.png" alt="영화관화면" id="cinemaModeImg">
                    <input type="checkbox" class="presetCheckbox" id="title" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/title.png" alt="타이틀" id="titleImg">
                    <input type="checkbox" class="presetCheckbox" id="quality" binary="true" checked>
                    <img src="../../../../../../assets/layout/images/gxp/quality.png" alt="화질선택" id="qualityImg">
                  </div>
                </div>
                <div class="ui-g-2 ui-g-nopad button-area">
                  <label class="presetLabel on" for="setting" (click)="setPlayerPreset($event)">설정버튼</label>
                  <label class="presetLabel on" for="fullscreen" (click)="setPlayerPreset($event)">전체화면</label>
                  <label class="presetLabel on" for="cinemaMode" (click)="setPlayerPreset($event)">영화관화면</label>
                  <label class="presetLabel on" for="title" (click)="setPlayerPreset($event)">타이틀</label>
                  <label class="presetLabel on" for="allCycle" (click)="setPlayerPreset($event)">전체 반복</label>
                  <label class="presetLabel on" for="quality" (click)="setPlayerPreset($event)">화질선택</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad margin-bottom-50" formArrayName="thm">
          <div class="form-header ui-g-12 ui-g-nopad">
            썸네일 서버 정보 <button type="button" pButton label="추가" (click)="addFormGroup('thm')" style="float: right;"></button>
          </div>
          <div class="form-border ui-g-12 ui-g-nopad" [formGroupName]="i" *ngFor="let item of thmData['controls']; let i = index;" style="margin-top: -1px;">
            <div class="form-row ui-g-3 ui-g-nopad">
              <div class="form-data ui-g-12 ui-g-nopad">
                IP: <input pInputText type="text" formControlName="gts_ftp_ip" title="IP 입력" autocomplete="off" style="width: 70%;">
              </div>
            </div>
            <div class="form-row ui-g-3 ui-g-nopad">
              <div class="form-data ui-g-12 ui-g-nopad">
                PORT: <input pInputText type="text" formControlName="gts_ftp_port" title="PORT 입력" autocomplete="off" style="width: 70%;">
              </div>
            </div>
            <div class="form-row ui-g-3 ui-g-nopad">
              <div class="form-data ui-g-12 ui-g-nopad">
                USER ID: <input pInputText type="text" formControlName="gts_ftp_id" title="USER ID 입력" autocomplete="off" style="width: 70%;">
              </div>
            </div>
            <div class="form-row ui-g-3 ui-g-nopad">
              <div class="form-data ui-g-12 ui-g-nopad">
                USER PW: <input pInputText type="text" formControlName="gts_ftp_pw" title="USER PW 입력" autocomplete="off" style="width: 70%;">
              </div>
            </div>

          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad margin-bottom-50" formGroupName="encoding">
          <div class="form-header ui-g-12 ui-g-nopad">
            인코딩 정보
          </div>
          <div class="form-border ui-g-12 ui-g-nopad">
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">인코딩 설명</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="explain" id="explain" title="인코딩 설명 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">썸네일 도메인</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="thumbDomain" id="thumbDomain" title="썸네일 도메인 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">서브 URL 경로</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="subUrl" id="subUrl" title="서브 URL 경로 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">고객 콜백 URL</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="callbackUrl" id="callbackUrl" title="고객 콜백 URL 입력" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad margin-bottom-50" formArrayName="encodingOption">
          <div class="form-header ui-g-12 ui-g-nopad">
            인코딩 변환 옵션 <button type="button" pButton label="추가" (click)="addFormGroup('encodingOption')" style="float: right;"></button>
          </div>
          <div class="form-border ui-g-12 ui-g-nopad" [formGroupName]="i" *ngFor="let item of encodingOptionData['controls']; let i = index;" style="margin-top: -1px;">
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">인코딩 설명</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="explain" title="인코딩 설명 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">썸네일 도메인</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="thumbDomain" title="썸네일 도메인 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">서브 URL 경로</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="subUrl" title="서브 URL 경로 입력" autocomplete="off">
              </div>
            </div>
            <div class="form-row ui-g-6 ui-g-nopad">
              <p class="form-title ui-g-4 ui-g-nopad">고객 콜백 URL</p>
              <div class="form-data ui-g-8 ui-g-nopad">
                <input pInputText type="text" class="margin-right-10" formControlName="callbackUrl" title="고객 콜백 URL 입력" autocomplete="off">
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-g-nopad margin-top-40 margin-bottom-20 txt-center">
          <a routerLink="/admin/client-manager"><button pButton type="reset" class="btn margin-right-5 ui-button-secondary" label="취소"></button></a>
          <button pButton type="submit" class="btn" label="저장" [disabled]="!clientForm.valid"></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
