<div class="ui-g-nopad ui-g-12" style="margin-bottom: 10vh;">
  <div class="card">
    <form [formGroup]="broadAddForm" (ngSubmit)="onSubmit(broadAddForm.value)">
      <fieldset>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad">방송 시작일시</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <p-calendar formControlName="startTime" dateFormat="yy-mm-dd" showTime="true" placeholder="DateTime" [showIcon]="true"></p-calendar>
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad">방송제목</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input type="text" pInputText placeholder="제목을 입력해주세요." formControlName="li_title">
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad">영상선택</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <div class=" ui-g-12 ui-g-nopad">
              <input type="text" pInputText formControlName="li_ft_seq" placeholder="콘텐츠를 선택해 주세요." style="cursor: pointer;" (click)="searchDialog = true; loadSelectContents();">
              <button pButton type="button" label="찾기" (click)="searchDialog = true; loadSelectContents();" class="margin-right-20 margin-bottom-10"></button><br>
              <span class="c_red margin-right-10"> {{ selectedContent['title'] }} </span> {{ selectedContent['fo_nm'] }}
            </div>
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad">썸네일 등록</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <div class="ui-g-6 ui-g-nopad">
              <input type="file" pInputText formControlName="fileToUpload[]" accept="image/*" (change)="loadTumbnail($event);" style="cursor: pointer;">
            </div>

            <div class="ui-g-6 ui-g-nopad">
              <img [src]="thumbSrc" alt="미리보기" style="width: 100%; height: auto;" *ngIf="thumbSrc">
            </div>
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad">방송 종료일시</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <p-calendar formControlName="endTime" dateFormat="yy-mm-dd" showTime="true" placeholder="DateTime" [showIcon]="true"></p-calendar>
          </div>
        </div>

        <div class="ui-g-12 ui-g-nopad margin-top-40 margin-bottom-20 txt-center">
          <a routerLink="/interactive-service/live-broadcast/list"><button pButton type="reset" class="btn margin-right-5 ui-button-secondary" label="취소"></button></a>
          <button pButton type="button" class="btn margin-right-5 ui-button-secondary" label="삭제"></button>
          <button pButton type="submit" class="btn" label="저장"></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<p-dialog [(visible)]="searchDialog" [width]="600" [modal]="true" [showHeader]="false">
  <div class="margin-top-15 margin-bottom-20">
    <div class="txt-right margin-top-15">
      <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
    </div>
    <h2 class="txt-center margin-bottom-20">
      영상 검색
    </h2>
    <div class="margin-bottom-20">
      <h3 class="margin-right-20 fw-bold">미디어보관함</h3>
      <p-dropdown [options]="storageList" [(ngModel)]="selectedStorage" (onChange)="loadMediaStorageList(selectedStorage);" class="margin-right-10" [style]="{'width': '150px'}"></p-dropdown>
      <input type="text" pInputText placeholder="콘텐츠 명 또는 파일명을 입력해주세요." style="width: 340px; height: 29px;">
      <button pButton type="button" label="찾기"></button>
    </div>
    <div class="margin-bottom-40">
      <span style="font-size: 13px;">총 <span class="c_red"> {{ searchContentRowData.length }}</span>개 &nbsp;&nbsp;&nbsp; ※영상을 선택해주세요.</span>
      <div class="margin-top-10" style="padding: 15px; border: 1px solid #ddd; max-height: 200px; overflow-y: scroll;">
        <p-table [columns]="searchContentCols" [value]="searchContentRowData" [(selection)]="selectedContent">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em"></th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="txt-center margin-top-20 margin-bottom-20">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="searchDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" (click)="searchDialog=false; selectContentComplete()" label="선택 완료"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="completeDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" routerLink="/interactive-service/live-broadcast/list" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    등록 완료되었습니다.
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="submit" (click)="completeDialog=false;" routerLink="/interactive-service/live-broadcast/list" label="확인"></button>
  </div>
</p-dialog>
