* { outline: none; }
.left { float: left; }
.right { float: right; }
.dp-inb { display: inline-block; }
span.c_red { color: #fe875d; font-weight: bold; }
fieldset { border: none; }
caption { display: none; }
.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.info-txt {
  font-size: 14px;
  color: #666;
}

.filterArea { margin: 30px 0; }
.emptyMessage { padding: 20px 0 !important; text-align: center;}

.form-row { padding: 20px 0; border-bottom: 1px solid #eee; }
.form-title { font-weight: bold; }
.form-data {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.switchTitle { display: inline-block; vertical-align: top; padding-top: 4px; }
.btn.delete-btn { background: none; border: none; }
.btn.delete-btn:hover { color: #ff6400; }
.close_btn { border: none; background: #fff; cursor: pointer; }


/*detail css*/
table caption { display: none; }
table tr th { text-align: left; padding: 5px 10px; }
table tr td { padding: 5px 10px; }
td { word-break: break-all; }
tr:hover { background: #eee !important; }
/*tab css*/
.select_tab_menu {
  padding: 0;
  background: #fe875d !important;
  border: 0 none !important;
}

.select_tab_menu li {
  position: static;
  display: block;
  list-style: none;
  float: left;
  width: 14.28%;
  text-align: center;
  border: none;
  background-color: #fe875d !important;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.select_tab_menu li a { display: block; padding: 0.571em 1.714em 0.571em 1.143em; color: #ffffff; cursor: pointer; }
.select_tab_menu li.on { border-bottom: 4px solid #B34621; }
.select_tab_menu li:not(.on):hover {
  background-color: #B34621 !important;
  border-top: 4px solid rgba(0,0,0,0) !important;
  border-bottom: 4px solid #B34621 !important;
}
.change_date_btn { height: 40px; margin: 16px 0; border: none; background: none; font-size: 30px; color: #fe875d; cursor: pointer; }
.change_date_btn:hover, .change_date_btn:active { color: #E26134; }

.switchTitle { display: inline-block; vertical-align: top; padding-top: 4px; }

.event_list {width: 80%; margin: 0 auto; text-align: left; }
.event_list li {padding: 20px; border: 1px solid #ccc; position: relative; list-style: none;}
.event_list li button.close_btn {width: 25px; height: 25px; position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;}
.event_list li input[type="text"].range_input {width: 70px; height: 30px; padding-left: 0; border: 1px solid #ddd; border-left: none; border-right: none; text-align: center; float: left; box-sizing: border-box;}
.event_list li .event_title .pick {display: inline-block; width: 13px; height: 20px; vertical-align: top;}
.event_list li .event_title .pick.pick0 {background: #c00000;}
.event_list li .event_title .pick.pick1 {background: #002060;}
.event_list li .event_title .pick.pick2 {background: #00b050;}

.transmit_search_sec {float: left; width: 45%;}