<div class="header-sec">
    <div class="ui-g-2 ui-g-nopad logo-sec"><a routerLink="home"><img src="../../assets/images/logo2.png" alt="로고 이미지" /></a></div>
    <div class="ui-g-8 ui-g-nopad">
        <nav class="gnb-sec">
            <a routerLink="home">HOME</a>
            <a routerLink="contents">CONTENTS</a>
            <a routerLink="/transcoding/transcoding-progress">TRANSCODING</a>
            <a routerLink="/settings/group-mng">SETTINGS</a>
        </nav>
    </div>
    <div class="ui-g-2 ui-g-nopad user-info-sec">
        <a class="g-name" routerLink="settings/user-modify"><img src="../../assets/images/modify.png" alt="개인정보 수정" /> GOM</a>님
        <button class="white-btn" (click)="logout()">LOGOUT</button>
    </div>
</div>

