<div class="ui-g-12 ui-g-nopad event-item">
    <button class="close-btn"><i class="fas fa-times"></i></button>
    <h3 class="section-title">
        <i class="fas fa-sliders-h"></i>
        구간
    </h3>
    <div class="margin-top-20 time-sec">
        <input pInputText type="text" title="구간 시작 시간" value="03:04:05" /> ~ <input pInputText type="text" title="구간 종료 시간" value="03:54:33" /> / 재생시간 <span>00:01:55</span>
        <div class="margin-top-20 timebar-sec">
            <div class="select-sec" style="width: 13%; left: 10%;"></div>
        </div>
    </div>
</div>