* { outline: none; }
.left { float: left; }
.right { float: right; }
.dp-inb { display: inline-block; }
span.c_red { color: #fe875d; font-weight: bold; }

.filterArea { margin: 30px 0; }
.filterArea .right input { height: 29px; vertical-align: top; }
.multiSelectDurationContainer {
  width: 400px;
  margin-left: 20px;
  vertical-align: top;
}

.searchArea { margin-bottom: 30px;}

.graphArea { height: 300px; margin-bottom: 50px; padding-top: 50px; border: 1px solid #ddd; background: #fff; }
.graphArea .graph { width: 90%; margin: 0 auto; }

.dataArea { margin-bottom: 30px;}
.emptyMessage { padding: 20px 0 !important; text-align: center;}

.infoArea { font-size: 13px; line-height: 25px; color: #777; }

.section-info {
  display: inline-block;
  width: 100px; height: 30px;
  line-height:24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: 13px;
  border: 3px solid rgba(0,0,0,0);
}
.popular-section {
  color: #c00000;
  background-color: #fbe5d6 !important;
}
.leave-section {
  color: #647b55;
  background-color: #e2f0d9 !important;
}
.popular-repeat-section {
  border: 3px solid red;
}