.left { float: left; }
.right { float: right; }
.dp-inb { display: inline-block; }
span.c_red { color: #fe875d; font-weight: bold; }

.filterArea { margin: 30px 0; }
.filterArea .right input { height: 29px; vertical-align: top; }
.multiSelectDurationContainer {
  width: 400px;
  margin-left: 20px;
  vertical-align: top;
}

.searchArea { margin-bottom: 30px;}

.graphArea { height: 300px; margin-bottom: 50px; padding-top: 50px; border: 1px solid #ddd; background: #fff; }
.graphArea .graph { width: 90%; margin: 0 auto; }

.dataArea { margin-bottom: 30px;}

.infoArea { font-size: 13px; line-height: 25px; color: #777; }