<p-table #dt [columns]="headerCols" [value]="tableLists" [paginator]="true" [rows]="defaultPagingNumber" [rowsPerPageOptions]="pagingOption">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <button type="button" pButton  label="다운로드" (click)="dt.exportCSV()" style="float:right"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-tableList>
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ tableList[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length" class="emptyMessage">표시할 데이터가 없습니다.</td>
    </tr>
  </ng-template>
</p-table>