<p-dialog [(visible)]="show" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right">
    <button type="button" class="btn nobor" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <p class="txt-center margin-top-20 margin-bottom-30">{{ message }}</p>
  <div class="txt-center margin-bottom-15" *ngIf="type === 'message'">
    <button type="button" class="btn" (click)="closePopup()" label="confirm button"><i class="fas fa-check"></i> 확인</button>
  </div>
  <div class="txt-center margin-bottom-15" *ngIf="type === 'confirm'">
    <button type="button" class="btn margin-right-10" (click)="confirm(false)"><i class="fas fa-times"></i> 취소</button>
    <button type="button" class="btn" (click)="confirm(true)"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>