<p-dialog *ngIf="type === 'message'" [(visible)]="show" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right">
    <button type="button" class="btn nobor" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <p class="txt-center margin-top-20 margin-bottom-30">{{ message }}</p>
  <div class="txt-center margin-bottom-15">
    <button type="button" class="btn" (click)="closePopup()" label="confirm button"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>