<div class="ui-g-12 ui-g-nopad table-sec border-0">
    <table>
        <caption>트랜스코딩 진행상황 테이블</caption>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: auto">
        </colgroup>
        <thead>
            <tr>
                <th>변환옵션</th>
                <th>진행상황</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HQ</td>
                <td>완료 <button class="white-btn">미리보기</button></td>
            </tr>
            <tr>
                <td>MQ</td>
                <td>완료 <button class="white-btn">미리보기</button></td>
            </tr>
        </tbody>
    </table>
</div>