<div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad list-sec">
        <ul class="ui-g-12 ui-g-nopad">
            <li>
                <h3 class="ui-g-12 ui-g-nopad list-title">썸네일 미리보기</h3>
                <contents-preview-thumbnail class="ui-g-12 ui-g-nopad"></contents-preview-thumbnail>
            </li>
            <li>
                <h3 class="ui-g-12 ui-g-nopad list-title">트랜스코딩 진행상황</h3>
                <contents-preview-status class="ui-g-12 ui-g-nopad"></contents-preview-status>
            </li>
            <li>
                <h3 class="ui-g-12 ui-g-nopad list-title">원본 파일정보</h3>
                <contents-preview-fInfo class="ui-g-12 ui-g-nopad"></contents-preview-fInfo>
            </li>
        </ul>
    </div>
</div>
