<div class="dash-data">
    <div class="data-sec">
        <p class="data-title">오늘</p>
        <p class="data-time">
            <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
        </p>
        <p class="data-value">
            <span><span>00</span> 분</span>
        </p>
    </div>
    <div class="data-sec">
        <p class="data-title">지난 1주일</p>
        <p class="data-time">
            <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
        </p>
        <p class="data-value">
            <span><span>00</span> 분</span>
        </p>
    </div>
    <div class="data-sec">
        <p class="data-title">지난 달</p>
        <p class="data-time">
            <span class="data-start">2018.04.01</span> ~ <span class="data-end">2018.04.30</span>
        </p>
        <p class="data-value">
            <span><span>00</span> 분</span>
        </p>
    </div>
</div>
