<div class="header-sec">
    <div class="ui-g-2 ui-g-nopad logo-sec"><a routerLink="home"><img src="../../../assets/images/logo2.png" alt="로고 이미지" /></a></div>
    <div class="ui-g-7 ui-g-nopad">
        <nav class="gnb-sec">
            <a routerLink="contents">콘텐츠</a>
            <a routerLink="/transcoding">트랜스코딩</a>
            <a routerLink="/statistics/dashboard">통계</a>
            <a routerLink="/settings/group-manager">설정</a>
        </nav>
    </div>
    <div class="ui-g-3 ui-g-nopad user-info-sec txt-right padding-right-40">
        <a class="g-name" routerLink="settings/user-modify"><img src="../../../assets/images/modify.png" alt="개인정보 수정" /> {{ userName }} </a>님
        <button class="btn margin-left-10" (click)="logout()"><i class="fas fa-sign-out-alt"></i> LOGOUT</button>
    </div>
</div>

