<div class="ui-g-12 ui-g-nopad table-sec border-0">
    <table>
        <caption>원본 파일정보 테이블</caption>
        <colgroup>
            <col style="width: 80px;">
            <col style="width: auto">
        </colgroup>
        <tbody>
            <tr>
                <th>파일명</th>
                <td>교육 6차.mp4</td>
            </tr>
            <tr>
                <th>파일크기</th>
                <td>641.82MB</td>
            </tr>
            <tr>
                <th>재생시간</th>
                <td>-</td>
            </tr>
            <tr>
                <th>해당그룹</th>
                <td>GOM</td>
            </tr>
            <tr>
                <th>해당폴더</th>
                <td>관리</td>
            </tr>
            <tr>
                <th>경로</th>
                <td>/path/home/2018/관리/</td>
            </tr>
        </tbody>
    </table>
</div>