<div class="table-sec border-0">
    <table>
        <caption>원본 파일정보 테이블</caption>
        <colgroup>
            <col style="width: 100px;">
            <col style="width: auto">
        </colgroup>
        <tbody>
            <tr>
                <th>파일명</th>
                <td>{{ originFileInfo.fo_nm }}</td>
            </tr>
            <tr>
                <th>파일크기</th>
                <td>{{ originFileInfo.fo_size }} MB</td>
            </tr>
            <tr>
                <th>해당그룹</th>
                <td>{{ folderPath.groupName }}</td>
            </tr>
            <tr>
                <th>해당폴더</th>
                <td>{{ folderPath.folderName }}</td>
            </tr>
            <tr>
                <th>경로</th>
                <td style="word-break: break-all;">{{ originFileInfo.fo_path }}</td>
            </tr>
        </tbody>
    </table>
</div>