<div class="login-container">
  <h1 class="margin-bottom-50">새 비밀번호 발급</h1>
  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit(newPasswordForm.value)" class="info-container">
    <fieldset>
      <div class="margin-bottom-30">
        <label for="name"></label>
        <input pInputText type="text" id="name" formControlName="name" class="padding-left-10" title="이름 입력" placeholder="이름 입력 *" autocomplete="off" />
        <p class="txt-left c_red">이름을 입력해주세요.</p>
      </div>

      <div class="margin-bottom-30">
        <label for="name"></label>
        <input pInputText type="text" id="email" formControlName="email" class="padding-left-10" title="이메일 입력" placeholder="이메일 입력 *" />
        <p class="txt-left c_red">이메일을 입력해주세요.</p>
      </div>

      <p class="txt-left c_red">일치하는 정보가 없습니다. 확인 후 다시 입력해주세요.</p>

      <button pButton type="button" class="ui-button-secondary margin-right-10 margin-top-20" routerLink="/login" label="취소"></button>
      <button pButton type="submit" label="비밀번호 재발급" [disabled]="!newPasswordForm.valid"></button>
    </fieldset>
  </form>
</div>