<div class="login-container">
  <p class="margin-bottom-50">
    <img src="../../../../assets/layout/images/gxp/logo.png">
    <span class="page-info">비밀번호 재설정</span>
  </p>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)" class="info-container">
    <fieldset>
      <div class="margin-bottom-30">
        <label for="password"></label>
        <input type="password" id="password" formControlName="password" class="padding-left-10" title="새로운 비밀번호 입력" placeholder="새로운 비밀번호 입력 *" name="userPassword" />
        <p class="txt-left c_red">영문, 숫자, 기호 8자 이상 입력해주세요.</p>
      </div>

      <div class="margin-bottom-30">
        <label for="rePassword"></label>
        <input type="password" id="rePassword" formControlName="rePassword" class="padding-left-10" title="새로운 비밀번호 확인" placeholder="새로운 비밀번호 확인 *" name="userPassword" />
        <p class="txt-left c_red">일치하지 않습니다.</p>
      </div>

      <button pButton type="button" class="ui-button-secondary margin-right-10 margin-top-20" routerLink="/" label="취소"></button>
      <button pButton type="submit" label="확인" routerLink="/dashboard" [disabled]="!resetPasswordForm.valid"></button>
    </fieldset>
  </form>
</div>