<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    <a routerLink="/home">CMS</a> &gt; <a routerLink="/statistics/dashboard/db" (click)="refresh()">통계</a> &gt; <span class="path" (click)="refresh()"> 대시보드 </span>
  </div>

  <div class="ui-g-12 ui-g-nopad item-container">
    <div class="item-group margin-bottom-50 margin-right-20">
      <h3>GXP 사용량</h3>
      <a routerLink="/statistics/usage-analysis/gxp">
        <p-blockUI [blocked]="isGxpLoading" [target]="home_gxp">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_gxp>
          <p-chart type="pie" [data]="gxpChartDataSet" [options]="chartOptions" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 이번 달 사용량</span>
        </p-panel>
      </a>
    </div>
    <div class="item-group margin-bottom-50 margin-right-20">
      <h3>스토리지</h3>
      <a routerLink="/statistics/usage-analysis/storage">
        <p-blockUI [blocked]="isStorageLoading" [target]="home_storage">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_storage>
          <p-chart type="pie" [data]="storageChartDataSet" [options]="chartOptions" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 이번 달 사용량</span>
        </p-panel>
      </a>
    </div>
    <div class="item-group margin-bottom-50">
      <h3>날짜별</h3>
      <a routerLink="/statistics/play-statistics/date">
        <p-blockUI [blocked]="isDateLoading" [target]="home_date">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_date>
          <p-chart type="line" [data]="dateChartDataSet" [options]="chartOptions2" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 재생수</span>
        </p-panel>
      </a>
    </div>
    <div class="item-group margin-bottom-50 margin-right-20">
      <h3>시간별</h3>
      <a routerLink="/statistics/play-statistics/time">
        <p-blockUI [blocked]="isTimeLoading" [target]="home_time">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_time>
          <p-chart type="bar" [data]="timeChartDataSet" [options]="chartOptions2" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 재생수</span>
        </p-panel>
      </a>
    </div>
    <div class="item-group margin-bottom-50 margin-right-20">
      <h3>콘텐츠</h3>
      <a routerLink="/statistics/play-statistics/contents">
        <p-blockUI [blocked]="isContentsLoading" [target]="home_contents">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_contents>
          <p-chart type="bar" [data]="contentsChartDataSet" [options]="chartOptions3" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 이번 달 평균</span>
        </p-panel>
      </a>
    </div>
    <div class="item-group margin-bottom-50">
      <h3>카테고리</h3>
      <a routerLink="/statistics/play-statistics/category">
        <p-blockUI [blocked]="isCategoryLoading" [target]="home_category">
          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </p-blockUI>
        <p-panel class="ui-g-12 ui-g-nopad chart" [showHeader]="false" #home_category>
          <p-chart type="bar" [data]="categoryChartDataSet" [options]="chartOptions2" width="100%" height="180px"></p-chart>
          <span class="info-txt">※ 이번 달 평균</span>
        </p-panel>
      </a>
    </div>
  </div>
</div>