<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    홈 > 통계 > <span class="path"> 대시보드 </span>
  </div>

  <div class="ui-g-12 ui-g-nopad item-container">
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>GXP 사용량</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions"></p-chart>
        <span class="info-txt">※ 이번 달 사용량</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>스토리지</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions"></p-chart>
        <span class="info-txt">※ 이번 달 사용량</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30">
      <h3>트래픽</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>날짜별</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="line" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>시간별</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 재생수</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30">
      <h3>실시간 접속자 수</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>콘텐츠</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 이번 달 평균</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>카테고리</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="barChartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 이번 달 평균</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30">
      <h3>유입도메인</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 최근 1주일 평균</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>디바이스</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 최근 1주일 평균</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30 margin-right-20">
      <h3>브라우저</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 최근 1주일 평균</span>
      </div>
    </div>
    <div class="item-group margin-bottom-30">
      <h3>운영체제</h3>
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions2"></p-chart>
        <span class="info-txt">※ 최근 1주일 평균</span>
      </div>
    </div>
  </div>
</div>