<div class="ui-g-2 ui-g-nopad">
    <nav class="lnb-sec">
        <ul>
            <li><a class="on" routerLink="/transcording/transSub0">변환 진행 목록</a></li>
            <li><a routerLink="/transcording/transSub1">변환 요청 목록</a></li>
            <li><a routerLink="/transcording/transSub2">변환 대기 목록</a></li>
            <li><a routerLink="/transcording/transSub3">변환 완료 목록</a></li>
            <li><a routerLink="/transcording/transSub4">변환 실패 목록</a></li>
        </ul>
    </nav>
</div>
<div class="ui-g-10 ui-g-nopad">
    <div>{{params | json}}</div>
</div>