<div class="ui-g-2 ui-g-nopad">
    <nav class="lnb-sec">
        <ul>
            <li><a class="on" routerLink="transSub0">변환 진행 목록</a></li>
            <li><a routerLink="transSub1">변환 요청 목록</a></li>
            <li><a routerLink="transSub2">변환 대기 목록</a></li>
            <li><a routerLink="transSub3">변환 완료 목록</a></li>
            <li><a routerLink="transSub4">변환 실패 목록</a></li>
        </ul>
    </nav>
</div>
<div class="ui-g-10 ui-g-nopad">
    <router-outlet name="transcordingOutlet"></router-outlet>
</div>