<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    홈 / 통계 / 재생 통계 / <span class="path"> {{ pathName }} </span>
  </div>
  <div class="ui-g-12 ui-g-nopad margin-bottom-20">
    <date-picker
      [(ngModel)]="selectDuration"
      (onSelect)="updateChoiceDuration($event)"
      [ranges]="['t', 'l-7days', 't-month', 'l-month', 'set']"
    ></date-picker>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-20">
    <folder-picker
      [(ngModel)]="selectFolder"
      (onSelect)="updateChoiceFolder($event)"
      ngDefaultControl
    ></folder-picker>
  </div>

  <show-statistics
    [selectDuration]="selectDuration"
    [selectFolder]="selectFolder"
  ></show-statistics>
</div>