<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    <a routerLink="/home"><i class="fas fa-home"></i></a> > 통계 > 재생 통계 > <span class="path"> {{ pathName }} </span>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-30" *ngIf="pathName !== '시간별'">
    <date-picker
      [(ngModel)]="selectDuration"
      (onSelect)="updateChoiceDuration($event)"
      [ranges]="['t', 'l-7days', 't-month', 'l-month', 'set']"
    ></date-picker>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-30" *ngIf="pathName === '시간별'">
    <p-checkbox [(ngModel)]="isMultiSelectDuration" binary="true" label="다중 비교" (onChange)="updateMultiSelectDuration()"></p-checkbox>
    <button class="btn margin-left-10" type="button" *ngIf="isMultiSelectDuration" (click)="upDurationCount()" [disabled]="durationCount.length === 3"><i class="fas fa-plus"></i> 추가</button>

    <div class="multiSelectDurationContainer margin-top-10" *ngFor="let count of durationCount">
      <p-calendar [maxDate]="maxDateValue" [(ngModel)]="multiSelectDuration[count]['selectDuration']" dateFormat="yy-mm-dd" [yearNavigator]="true" [yearRange]="yearRange" [monthNavigator]="true" (onSelect)="updateMultiSelectDuration()"></p-calendar>
      <button class="btn margin-right-10 margin-left-10" type="button" *ngIf="isMultiSelectDuration && (count !== 0)" (click)="downDurationCount(count)"><i class="fas fa-trash-alt"></i> 삭제</button>
    </div>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-30">
    <folder-picker
      class="margin-right-20"
      [(ngModel)]="selectFolder"
      (onSelect)="updateChoiceFolder($event)"
      ngDefaultControl
    ></folder-picker>

    <div class="dp-inb" *ngIf="pathName !== '날짜별' && pathName !== '시간별'">
      <label for="search-key"></label><input type="text" class="margin-right-5" id="search-key" [(ngModel)]="searchKey" pInputText placeholder="검색어를 입력해주세요" autocomplete="off">
      <button type="button" class="btn margin-right-5" (click)="search()"><i class="fas fa-search"></i> 검색</button>

      <span class="search-result">총 0개 검색되었습니다.</span>
    </div>
  </div>

  <by-date *ngIf="pathName === '날짜별'"
     [pathName]="pathName"
     [selectDuration]="selectDuration"
     [selectFolder]="selectFolder"
  ></by-date>

  <by-time *ngIf="pathName === '시간별'"
     [pathName]="pathName"
     [multiSelectDuration]="multiSelectDuration"
     [selectFolder]="selectFolder"
  ></by-time>

  <by-play-section *ngIf="pathName === '재생 구간'"
     [pathName]="pathName"
     [selectDuration]="selectDuration"
     [selectFolder]="selectFolder"
  ></by-play-section>

  <by-play-time *ngIf="pathName === '재생 시간'"
     [pathName]="pathName"
     [selectDuration]="selectDuration"
     [selectFolder]="selectFolder"
  ></by-play-time>

  <by-contents *ngIf="pathName === '콘텐츠 통계'"
     [pathName]="pathName"
     [selectDuration]="selectDuration"
     [selectFolder]="selectFolder"
  ></by-contents>

  <by-category *ngIf="pathName === '카테고리 통계'"
     [pathName]="pathName"
     [selectDuration]="selectDuration"
     [selectFolder]="selectFolder"
  ></by-category>
</div>