<div class="ui-g-12 ui-g-nopad tctr-sec margin-bottom-30">
    <button class="white-btn">+ 새폴더</button>
    <div class="file-path dp-inb">
        <span class="path">home</span><span class="path">2018</span><span class="path">관리</span>
    </div>
    <div class="filter-sec f-right">
        <div class="fbtn-sec">
            <button class="white-btn">변환 재시작</button>
            <button class="white-btn">삭제</button>
            <!--<input type="text" id="search_key" placeholder="파일명 검색" pInputText />-->
            <!--<button class="search_btn"><img src="images/searchIcon.png" alt="검색" /></button>-->
            <label for="file-key"></label><input type="text" id="file-key" pInputText placeholder="파일명 입력">
            <button pButton type="button" label="검색"></button>
            <div class="vbtn-sec dp-inb">
                <button class="vbtn f-left on"><span class="blind">30개보기</span>30</button>
                <button class="vbtn f-left"><span class="blind">50개보기</span>50</button>
                <button class="vbtn f-left"><span class="blind">100개보기</span>100</button>
            </div>
            <div class="vbtn-sec dp-inb">
                <button class="vbtn f-left list-mode on"><i class="fas fa-bars"></i> <span class="blind">리스트 스타일 보기</span></button>
                <button class="vbtn f-left icon-mode"><i class="fab fa-microsoft"></i> <span class="blind">아이콘 스타일 보기</span></button>
            </div>
        </div>
    </div>
</div>