<div class="ui-g-12 ui-g-nopad white-bg">
  <div class="login-container padding-50">
    <div class="logo-container margin-bottom-40">
      <img src="../../assets/images/logo2.png" alt="로고 이미지"  />
    </div>

      <form class="info-container" (ngSubmit)="login()">
        <label for="input-id"></label>
        <input pInputText type="text" id="input-id" class="margin-bottom-10" title="아이디 입력" placeholder="아이디 입력" [(ngModel)]="userData.userId" name="userID" autocomplete="off" />

      <label for="input-pswd"></label>
      <input pPassword type="password" id="input-pswd" class="margin-bottom-30" title="비밀번호 입력" placeholder="비밀번호 입력" [(ngModel)]="userData.userPassword" name="userPassword" />

      <a routerLink="/home"></a>
      <button type="submit" class="orange-btn big-btn">LOGIN</button>
    </form>
  </div>
</div>