<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    <a routerLink="/home"><i class="fas fa-home"></i></a> > <a routerLink="/statistics/dashboard/db" (click)="refresh()">통계</a> > <a routerLink="/statistics/usage-analysis/storage" (click)="refresh()">사용량 분석</a> > <span class="path" (click)="refresh()"> {{ pathName }} </span>
  </div>

  <div class="ui-g-12 ui-g-nopad margin-bottom-30">
    <date-picker
      [(ngModel)]="selectDuration"
      (onSelect)="updateChoiceDuration($event)"
      [ranges]="['t', 'l-7days', 't-month', 'l-month', 'set']"
    ></date-picker>
  </div>

  <by-traffic *ngIf="pathName === '트래픽'" [selectDuration]="selectDuration"></by-traffic>
  <by-usage-storage *ngIf="pathName === '스토리지'" [selectDuration]="selectDuration"></by-usage-storage>
  <by-gxp *ngIf="pathName === 'GXP 사용량'" [selectDuration]="selectDuration"></by-gxp>
  <by-transCoding *ngIf="pathName === '트랜스코딩'" [selectDuration]="selectDuration"></by-transCoding>
</div>