<div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad table-sec">
        <p-table  [value]="contentsLists" [(selection)]="selectContents" [paginator]="true"  [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" (onRowSelect)="onRowSelect()">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 2.25em"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                    <th>제목</th>
                    <th>종류</th>
                    <th>크기</th>
                    <th>전체 변환율</th>
                    <th>생성날짜</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contentsList>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="contentsList" ></p-tableCheckbox>
                    </td>
                    <td>
                        {{ contentsList.cus_nm_ko }}
                    </td>
                    <td>
                        {{ contentsList.cus_inchg_tel }}
                    </td>
                    <td>
                        114.29MB
                    </td>
                    <td>
                        100%
                    </td>
                    <td>
                        2018-05-31
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">
                        표시할 데이터가 없습니다.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>