<div class="ui-g-12 ui-g-nopad margin-bottom-30">
  <folder-picker
    class="margin-right-10"
    [(ngModel)]="selectFolder"
    (onSelect)="updateChoiceFolder($event)"
    ngDefaultControl
  ></folder-picker>

  <div class="dp-inb">
    <label for="search-key"></label><input type="text" class="margin-right-10" id="search-key" [(ngModel)]="searchKey" pInputText placeholder="검색어를 입력해주세요" autocomplete="off">
    <button type="button" class="btn margin-right-10" (click)="search()"><i class="fas fa-search"></i> 검색</button>

    <span class="search-result" id="search-result">총 {{searchCount}}개 검색되었습니다.</span>
  </div>
</div>

<div class="ui-g-12 ui-g-nopad">
  <button class="margin-bottom-20" type="button" pButton label="다중비교" (click)="showCompareResult()" *ngIf="!isCompareStatus"></button>
  <button class="margin-bottom-20" type="button" pButton label="비교취소" (click)="showSingleResult()" *ngIf="isCompareStatus"></button>
  <div class="ui-g-12 ui-g-nopad margin-bottom-50">
    <p-table #dt [columns]="playTimeStatisticsCols" [value]="playTimeStatisticsDatas" sortField="regdate" [sortOrder]="-1" [paginator]="true" [rows]="10" [(selection)]="tempCompareItems" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowSelect()" (sortFunction)="setTableIndex($event)" [customSort]="true">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <button type="button" pButton  label="다운로드" (click)="dt.exportCSV()" style="float:right"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon *ngIf="col.field !== 'no'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-playTimeStatisticsData>
        <tr [pSelectableRow]="rowData">
          <td>
            <p-tableCheckbox [value]="playTimeStatisticsData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of columns">
            {{ playTimeStatisticsData[col.field] }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--재생시간-->
  <div class="ui-g-12 ui-g-nopad analysis-container">
    <h3 class="margin-right-20">재생시간 분석</h3> <button class="margin-bottom-20" type="button" pButton label="비교취소" (click)="showSingleResult()" [disabled]="!isCompareStatus"></button>
    <p-table [value]="compareItems" [columns]="compareHeaderCols">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>검색기간</th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-compareItem let-columns="columns">
        <tr>
          <td>{{selectDuration.date[0]}} - {{selectDuration.date[1]}}</td>
          <td *ngFor="let col of columns">
            {{ compareItem[col.field] }}
          </td>
          <td>
            <button class="btn" (click)="deleteCompareItem(compareItem)">삭제</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length + 2" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>

    <div class="ui-g-12 ui-g-nopad margin-top-30 margin-bottom-30" style="padding: 30px 70px; border: 1px solid #ddd; background: #fff;">
      <p-chart type="line" [data]="comparePlayTimeChartData" [options]="chartOptions" width="100%" height="30vh"></p-chart>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <p-table [value]="comparePlayTimeTableDatas" [columns]="compareResultHeaderCols">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comparePlayTimeTableData let-columns="columns">
          <tr>
            <td [attr.rowspan]="dateArray.length" *ngIf="dateArray[0].getFullYear() + '-' + ((dateArray[0].getMonth() + 1) < 10 ? '0' + (dateArray[0].getMonth() + 1) : (dateArray[0].getMonth() + 1)) + '-' + (dateArray[0].getDate() < 10 ? '0' + dateArray[0].getDate() : dateArray[0].getDate()) === comparePlayTimeTableData.dates">
              {{ comparePlayTimeTableData['contentsName'] }}
            </td>
            <td [attr.rowspan]="dateArray.length" *ngIf="dateArray[0].getFullYear() + '-' + ((dateArray[0].getMonth() + 1) < 10 ? '0' + (dateArray[0].getMonth() + 1) : (dateArray[0].getMonth() + 1)) + '-' + (dateArray[0].getDate() < 10 ? '0' + dateArray[0].getDate() : dateArray[0].getDate()) === comparePlayTimeTableData.dates">
              {{ comparePlayTimeTableData['groupName'] }}
            </td>
            <td [attr.rowspan]="dateArray.length" *ngIf="dateArray[0].getFullYear() + '-' + ((dateArray[0].getMonth() + 1) < 10 ? '0' + (dateArray[0].getMonth() + 1) : (dateArray[0].getMonth() + 1)) + '-' + (dateArray[0].getDate() < 10 ? '0' + dateArray[0].getDate() : dateArray[0].getDate()) === comparePlayTimeTableData.dates">
              {{ comparePlayTimeTableData['folderName'] }}
            </td>
            <td>{{ comparePlayTimeTableData['dates'] }}</td>
            <td>{{ comparePlayTimeTableData['playTime'] }}</td>
            <td>{{ comparePlayTimeTableData['playCount'] }}</td>
            <td>{{ comparePlayTimeTableData['averagePlayTime'] }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
          <tr *ngFor="let item of compareSectionTotalData; let i = index">
            <td colspan="3" [attr.rowspan]="compareSectionTotalData.length" *ngIf="i === 0">합계</td>
            <td>{{ item['contentsName'] }}</td>
            <td>{{ item['totalPlayTime'] }}</td>
            <td>{{ item['totalPlayCount'] }}</td>
            <td>{{ item['totalAveragePlayTime'] }}</td>
          </tr>
          <tr *ngFor="let item of compareSectionTotalData; let i = index">
            <td colspan="3" [attr.rowspan]="compareSectionTotalData.length" *ngIf="i === 0">평균</td>
            <td>{{ item['contentsName'] }}</td>
            <td>{{ item['totalPlayTime'] }}</td>
            <td>{{ item['totalPlayCount'] / dateArray.length | number:'1.0-0' }}</td>
            <td>{{ item['totalAveragePlayTime'] }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length" class="emptyMessage">표시할 데이터가 없습니다.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-25 margin-bottom-25">비교할 파일을 선택해주세요.</p>
  <div class="txt-center">
    <button type="button" class="btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>
<p-dialog [(visible)]="isShowCheckLimitMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-25 margin-bottom-25">3개까지 선택하실 수 있습니다.</p>
  <div class="txt-center">
    <button type="button" class="btn" (click)="isShowCheckLimitMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>