<div class="ui-g-12 ui-g-nopad padding-top-30 padding-bottom-50 padding-left-20 padding-right-20">
    <div class="ui-g-12 ui-g-nopad btn-sec txt-center">
        <button class="orange-btn margin-bottom-30">+ 구간 추가</button>
    </div>
    <ul class="ui-g-10 ui-g-nopad ui-g-offset-1 event-list">
        <li class="ui-g-12 ui-g-nopad margin-bottom-30">
            <fileUpload-edt-section></fileUpload-edt-section>
        </li>
        <li class="ui-g-12 ui-g-nopad margin-bottom-30">
            <fileUpload-edt-section></fileUpload-edt-section>
        </li>
        <li class="ui-g-12 ui-g-nopad margin-bottom-30">
            <fileUpload-edt-section></fileUpload-edt-section>
        </li>
    </ul>
</div>