html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul, li {list-style: none;}
a:link, a:visited{text-decoration: none; color: #666;}
fieldset, img {border: 0;}
img {vertical-align: top;}
b, span, address, em {font-style: normal;}
caption {display: none;}
button, input {outline: none;}
button, input[type="checkbox"], input[type="radio"] {cursor: pointer;}
textarea {padding: 10px; resize: none; outline-style: none;}
table {border-collapse: collapse; width: 100%;}
body {min-width: 1200px;}
#skipnavi {overflow: hidden; position: absolute; left: -9999px; top: 0; height: 1px; width: 0;}
.blind {display: block; position: absolute; top: -2000em; left: -2000em; width: 1px; height: 1px; text-indent: 2000em; font-size: 1px;}
select, input[type="text"], input[type="checkbox"], textarea {padding-left: 10px; background: #fdfdfd; box-sizing: border-box; border: 1px solid #ddd; color: #888;}

.content-sec {min-height: 850px; padding: 10px 40px 100px; border-left: 1px solid #eee; background: #fcfcfc;}

/*패딩 마진*/
/* begin grid */
.padding-left-col-1 {
    padding-left: 8.33333%; }

.padding-left-col-2 {
    padding-left: 16.66667%; }

.padding-left-col-3 {
    padding-left: 25%; }

.padding-left-col-4 {
    padding-left: 33.33333%; }

.padding-left-col-5 {
    padding-left: 41.66667%; }

.padding-left-col-6 {
    padding-left: 50%; }

.padding-left-col-7 {
    padding-left: 58.33333%; }

.padding-left-col-8 {
    padding-left: 66.66667%; }

.padding-left-col-9 {
    padding-left: 75%; }

.padding-left-col-10 {
    padding-left: 83.33333%; }

.padding-left-col-11 {
    padding-left: 91.66667%; }

.padding-left-col-12 {
    padding-left: 100%; }

.padding-left-5 {
    padding-left: 5px; }

.padding-left-10 {
    padding-left: 10px; }

.padding-left-15 {
    padding-left: 15px; }

.padding-left-20 {
    padding-left: 20px; }

.padding-left-25 {
    padding-left: 25px; }

.padding-left-30 {
    padding-left: 30px; }

.padding-left-35 {
    padding-left: 35px; }

.padding-left-40 {
    padding-left: 40px; }

.padding-left-45 {
    padding-left: 45px; }

.padding-left-50 {
    padding-left: 50px; }

.padding-right-5 {
    padding-right: 5px; }

.padding-right-10 {
    padding-right: 10px; }

.padding-right-15 {
    padding-right: 15px; }

.padding-right-20 {
    padding-right: 20px; }

.padding-right-25 {
    padding-right: 25px; }

.padding-right-30 {
    padding-right: 30px; }

.padding-right-35 {
    padding-right: 35px; }

.padding-right-40 {
    padding-right: 40px; }

.padding-right-45 {
    padding-right: 45px; }

.padding-right-50 {
    padding-right: 50px; }

.padding-top-5 {
    padding-top: 5px; }

.padding-top-10 {
    padding-top: 10px; }

.padding-top-15 {
    padding-top: 15px; }

.padding-top-20 {
    padding-top: 20px; }

.padding-top-25 {
    padding-top: 25px; }

.padding-top-30 {
    padding-top: 30px; }

.padding-top-35 {
    padding-top: 35px; }

.padding-top-40 {
    padding-top: 40px; }

.padding-top-45 {
    padding-top: 45px; }

.padding-top-50 {
    padding-top: 50px; }

.padding-bottom-5 {
    padding-bottom: 5px; }

.padding-bottom-10 {
    padding-bottom: 10px; }

.padding-bottom-15 {
    padding-bottom: 15px; }

.padding-bottom-20 {
    padding-bottom: 20px; }

.padding-bottom-25 {
    padding-bottom: 25px; }

.padding-bottom-30 {
    padding-bottom: 30px; }

.padding-bottom-35 {
    padding-bottom: 35px; }

.padding-bottom-40 {
    padding-bottom: 40px; }

.padding-bottom-45 {
    padding-bottom: 45px; }

.padding-bottom-50 {
    padding-bottom: 50px; }

.padding-5 {
    padding: 5px; }

.padding-10 {
    padding: 10px; }

.padding-15 {
    padding: 15px; }

.padding-20 {
    padding: 20px; }

.padding-25 {
    padding: 25px; }

.padding-30 {
    padding: 30px; }

.padding-35 {
    padding: 35px; }

.padding-40 {
    padding: 40px; }

.padding-45 {
    padding: 45px; }

.padding-50 {
    padding: 50px; }

.margin-left-5 {
    margin-left: 5px !important; }

.margin-left-10 {
    margin-left: 10px !important; }

.margin-left-15 {
    margin-left: 15px !important; }

.margin-left-20 {
    margin-left: 20px !important; }

.margin-left-25 {
    margin-left: 25px !important; }

.margin-left-30 {
    margin-left: 30px !important; }

.margin-left-35 {
    margin-left: 35px !important; }

.margin-left-40 {
    margin-left: 40px !important; }

.margin-left-45 {
    margin-left: 45px !important; }

.margin-left-50 {
    margin-left: 50px !important; }

.margin-right-5 {
    margin-right: 5px !important; }

.margin-right-10 {
    margin-right: 10px !important; }

.margin-right-15 {
    margin-right: 15px !important; }

.margin-right-20 {
    margin-right: 20px !important; }

.margin-right-25 {
    margin-right: 25px !important; }

.margin-right-30 {
    margin-right: 30px !important; }

.margin-right-35 {
    margin-right: 35px !important; }

.margin-right-40 {
    margin-right: 40px !important; }

.margin-right-45 {
    margin-right: 45px !important; }

.margin-right-50 {
    margin-right: 50px !important; }

.margin-top-5 {
    margin-top: 5px !important; }

.margin-top-10 {
    margin-top: 10px !important; }

.margin-top-15 {
    margin-top: 15px !important; }

.margin-top-20 {
    margin-top: 20px !important; }

.margin-top-25 {
    margin-top: 25px !important; }

.margin-top-30 {
    margin-top: 30px !important; }

.margin-top-35 {
    margin-top: 35px !important; }

.margin-top-40 {
    margin-top: 40px !important; }

.margin-top-45 {
    margin-top: 45px !important; }

.margin-top-50 {
    margin-top: 50px !important; }

.margin-bottom-5 {
    margin-bottom: 5px !important; }

.margin-bottom-10 {
    margin-bottom: 10px !important; }

.margin-bottom-15 {
    margin-bottom: 15px !important; }

.margin-bottom-20 {
    margin-bottom: 20px !important; }

.margin-bottom-25 {
    margin-bottom: 25px !important; }

.margin-bottom-30 {
    margin-bottom: 30px !important; }

.margin-bottom-35 {
    margin-bottom: 35px !important; }

.margin-bottom-40 {
    margin-bottom: 40px !important; }

.margin-bottom-45 {
    margin-bottom: 45px !important; }

.margin-bottom-50 {
    margin-bottom: 50px !important; }

/* end grid */


/*버튼*/
.btn {padding: 5px 10px; border: 1px solid #ddd; border-radius: 5px; background: #fff; font-size: 13px; color: #666;}
.btn:hover {background: #fbfbfb;}
.btn:disabled {opacity: 0.5; cursor: auto;}
.btn i {margin-top: 3px;}
.big-btn {width: 90%; height: 45px; border: 1px solid #ccc; box-sizing: border-box; font-size: 15px; color: #666; background: #fff;}
.big-btn:hover {background: #fbfbfb;}

.white-btn {padding: 5px 10px; border: 1px solid #ccc; border-radius: 50px; background: rgba(255,255,255,1); color: #777;}
.white-btn:hover {background: #f5f5f5;}
.white-btn:active {background: #f1f1f1; color: #555;}

.grey-btn {width: 60px; height: 35px; border: none; background: #aaa; color: #fff;}
.grey-btn:hover {background: #959595;}
.grey-btn:active {background: #7b7b7b; color: #f5f5f5;}

.orange-btn {padding: 5px 10px; border: none; border-radius: 50px; background: #ff6400; color: #fff;}
.orange-btn:hover {background: #e55a00;}
.orange-btn:active {background: #d35300; color: #ccc;}

/*페이지 타이틀*/
.page-title-sec {margin: 20px 0 40px; box-sizing: border-box; font-size: 13px; color: #888;}
.page-title-sec span {cursor: pointer;}
.page-title-sec .path {color: #ff6400;}

/*탭*/
.tab-sec {overflow: hidden;}
.tab-sec li {float: left; width: 12.5%; height: 40px; line-height: 40px; border: 1px solid #ddd; border-bottom: none; border-right: none; box-sizing: border-box; background: #f5f5f5; text-align: center;}
.tab-sec li:last-child {border-right: 1px solid #ddd;}
.tab-sec li:hover {background: #f1f1f1;}
.tab-sec li:active {background: #eaeaea;}
.tab-sec li.on {background: #fff;}

/*테이블*/
.table-sec {border: 1px solid #bbb; border-top: 1px solid #999;}
.table-sec table tr {border-bottom: 1px solid #ddd;}
.table-sec table tbody tr:last-child {border-bottom: none;}
.table-sec table tr .t-center {text-align: center;}
.table-sec table tr th {padding: 10px; border-right: 1px solid #ddd; background: #ebedf0; font-size: 14px; text-align: left;}
.table-sec table tr th:last-child {border-right: none;}
.table-sec table tr td {padding: 10px; border-right: 1px solid #D5D5D5; font-size: 13px; background: #fff; word-break: break-all;}
.table-sec table tr td:last-child {border-right: none;}
.table-sec table tr td progress {width: 60px; margin-right: 10px;}
.no-data-sec {padding: 50px 0; box-sizing: border-box; border-top: 1px solid #ddd; text-align: center; font-size: 15px; color: #888;}

.nobor-table-sec table tr th {padding: 10px; font-size: 14px; font-weight: bold; vertical-align: top;}
.nobor-table-sec table tr td {padding: 10px;}
.popup-table-sec {border: none;}
.popup-table-sec table tr th {border: none; background: none; font-weight: bold;}

/*리스트*/
.list-sec {border: 1px solid #ddd; border-top: none; border-left: none;}
.list-sec ul li .list-title {padding: 10px; border-top: 1px solid #999; border-bottom: 1px solid #ddd; font-size: 14px; font-weight: normal;}

/*lnb*/
.lnb-sec ul li {height: 40px; line-height: 40px; font-size: 14px; font-weight: bold; color: #666; cursor: pointer;}
.lnb-sec ul li:hover {background: #f8f8f8;}
.lnb-sec ul li a {display: block; height: 100%; padding: 0 20px;}
.lnb-sec ul.border-lnb li {height: 50px; line-height: 50px; border-bottom: 1px solid #e5e5e5;}
.lnb-sec ul.border-lnb li.has-sub {overflow: hidden;}
.lnb-sec ul.border-lnb li.has-sub i {float: right; line-height: 50px;}
.lnb-sec ul.border-lnb li.has-sub a { line-height: 50px; }

/*sub lnb*/
.lnb-sec ul.border-lnb li.has-sub.on {border-bottom: none;}
.lnb-sec ul.border-lnb li.has-sub.on + ul.sub-lnb {display: block;}
.lnb-sec ul ul.sub-lnb {display: none; padding: 10px 0; border-bottom: 1px solid #e5e5e5;}
.lnb-sec ul ul.sub-lnb li {padding-left: 30px; height: 40px; line-height: 40px; border-bottom: none; font-size: 13px;}
.lnb-sec ul ul.sub-lnb li.on { background: #f3f3f3; }
.lnb-sec ul ul.sub-lnb li::before {float: left; content: "-"; margin-right: 10px;}

/*그룹리스트*/
.group-list-sec .group-list-title .group-icon {color: #ff6400;}
.group-list-sec .group-list-title strong {font-weight: bold; color: #666;}
.group-corp .corp_name_sec {padding: 10px 5px; font-size: 15px; font-weight: bold; color: #888;}
.group-corp .corp_name_sec:hover {background: #efefef;}
.group-corp .corp_name_sec.on {background: #e5e5e5; color: #777;}

/*아코디언*/
.accordion-sec li:last-child .accordion-content {border-bottom: 1px solid #ddd;}
.accordion-sec li .accordion-header {border: 1px solid #ddd; border-top:1px solid #ff6400; background: #f5f5f5;}
.accordion-sec li .accordion-content {border-left: 1px solid #ddd; border-right: 1px solid #ddd;}

.cur-p {cursor: pointer;}
.dp-block {display: block;}
.dp-inb {display: inline-block;}
.dp-inline {display: inline;}
.f-left {float: left;}
.f-right {float: right;}
.clear-both {clear: both;}
.txt-left {text-align: left;}
.txt-right {text-align: right;}
.txt-center {text-align: center;}
.border-0 {border: 0;}
.info-txt {font-size: 14px; color: #666;}
.search-result {display: none; font-size:13px; color: #f52727;}

button {
    border-radius: 0 !important;
    font-size: 14px;
    font-weight: bold;
}
.ui-corner-all {
    border-radius: 0 !important;
}

.ui-calendar .ui-inputtext {
    padding: 7px 13px !important;
    font-size: 12px !important;
}
.ui-chkbox-label {
    font-weight: bold !important;
    font-size: 12px !important;
}