<div class="ui-g-12 ui-g-nopad" style="margin-bottom: 37vh;">
  <ul class="ui-g-12 ui-g-nopad select_tab_menu margin-bottom-40" id="selectTab">
    <li tabindex="0" class="on" (click)="selectItem($event)"><a>전체</a></li>
    <li tabindex="1" class="" (click)="selectItem($event)"><a>변환요청</a></li>
    <li tabindex="2" class="" (click)="selectItem($event)"><a>변환진행</a></li>
    <li tabindex="3" class="" (click)="selectItem($event)"><a>변환완료</a></li>
    <li tabindex="4" class="" (click)="selectItem($event)"><a>변환실패</a></li>
  </ul>
  <div class="ui-g-12 ui-g-nopad margin-bottom-50">
    <div class="ui-g-nopad ui-g-12 margin-bottom-30">
      <div class="left">
        총 <span class="c_red">0</span>개
      </div>
      <div class="right">
        <button pButton type="button" label="새로고침" class="margin-right-10"></button>
        <input type="text" pInputText />
      </div>
    </div>
    <div class="ui-g-12 ui-g-nopad margin-bottom-50">
      <p-table #dt class="selectTable" [columns]="transMonitoringCols" [value]="transMonitoringRowData" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,50,100]" [(selection)]="tempItems">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 3em">
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" pResizableColumn>
              {{ col.header }}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
          <tr [pSelectableRow]="item">
            <td>
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{ item['ip'] }}</td>
            <td>{{ item['purpose'] }}</td>
            <td>{{ item['usage'] }}</td>
            <td>{{ item['regDate'] }}</td>
            <td>{{ item['upDateAt'] }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

