* { outline: none; }
.left { float: left; }
.right { float: right; }
.dp-inb { display: inline-block; }
span.c_red { color: #fe875d; font-weight: bold; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.setting_btn { height: 30px; padding: 0 10px; vertical-align: bottom; border: none; background: #2399e5; color: #fff; cursor: pointer; }
.setting_btn:hover { background: #1f89ce; }
.close_btn { border: none; background: #fff; cursor: pointer; }

/*detail css*/
table caption { display: none; }
table tr th { text-align: left; padding: 5px 10px; }
td { padding: 5px 10px; word-break: break-all; }
.emptyMessage { padding: 20px 0 !important; text-align: center;}

li { list-style: none; }
.encoding-preset { border: 1px solid #ddd; background: #fff; color: #555; }
.encoding-preset .encoding-list { margin: 0; padding: 30px 15px; background: #272624; color: #ddd; }
.encoding-preset .encoding-list li { margin-bottom: 15px; }
.encoding-preset .encoding-list li:last-child { margin-bottom: 0; }
.encoding-preset .encoding-detail { border-left: 1px solid #ddd; }
.encoding-preset .encoding-detail span.title { display: inline-block; width: 80px; }

.select-section .sec_list li {border: 1px solid #ccc; padding: 15px; margin: 15px auto; box-sizing: border-box; position: relative;}
.select-section .sec_list li button.close_btn {position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;}
.select-section .sec_list li .time_sec {width: 100%;}
.select-section .sec_list li .time_sec input {width: 100px; height: 30px; margin-top: 15px; border: 1px solid #ddd; padding-left: 10px; box-sizing: border-box;}
.select-section .sec_list li .time_sec .timebar_sec {width: 100%; height: 6px; margin-top: 15px; background: #eee; position: relative;}
.select-section .sec_list li .time_sec .timebar_sec .select_sec {height: 100%; background: #ff6400; position: absolute; top: 0;}

