<!--<div class="ui-g-12 ui-g-nopad event-item">-->
    <!--<button class="close-btn"><i class="fas fa-times"></i></button>-->

    <!--<span class="event-title">-->
        <!--<span class="first-pick"><i class="fab fa-get-pocket"></i></span>-->
        <!--&lt;!&ndash;<span class="second-pick"><i class="fab fa-get-pocket"></i></span>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="third-pick"><i class="fab fa-get-pocket"></i></span>&ndash;&gt;-->
        <!--이벤트-->
    <!--</span>-->
    <!--<div class="event-time dp-inb margin-left-20 margin-bottom-25">-->
        <!--<button class="minus-btn">-</button>-->
        <!--<input pInputText type="text" title="이벤트 시간" value="23:44:55" />-->
        <!--<button class="plus-btn">+</button>-->
    <!--</div>-->
    <!--<div class="event_type_sec padding-left-20">-->
        <!--<div class="ui-g-12 ui-g-nopad margin-bottom-15"><p-radioButton name="event-type" value="confirm-event" label="확인 이벤트" inputId="confirm-event"></p-radioButton></div>-->
        <!--<div class="ui-g-12 ui-g-nopad"><p-radioButton name="event-type" value="quiz-event" label="퀴즈" inputId="quiz-event"></p-radioButton></div>-->

        <!--<div class="ui-g-12 ui-g-nopad margin-top-5 padding-left-30 quiz-sec">-->
            <!--<label for="quiz-img">퀴즈 이미지 등록</label> <input id="quiz-img" type="file" title="퀴즈 이미지 등록" />-->
            <!--<p >jpg, png 파일만 등록하실 수 있습니다.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->