<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        <a routerLink="/home">CMS</a> &gt; 설정 &gt; <span class="path">하위그룹 등록</span>
    </div>

    <div class="ui-g-12 ui-g-nopad form-info-sec">
        ㆍ <span class="req">*</span> 는 필수입력 항목입니다.<br />
        ㆍ 그룹명은 트랜스코딩 정책상 등록 후 수정이 불가능하므로 신중히 입력바랍니다.
    </div>
    <form class="ui-g-12 ui-g-nopad form-sec">
        <div class="ui-g-12 ui-g-nopad table-sec">
            <table>
                <caption>하위그룹 추가 테이블</caption>
                <colgroup>
                    <col style="width: 260px;">
                    <col style="width: auto;">
                </colgroup>
                <tr>
                    <th><label for="g-name">그룹명</label> <span class="req">*</span></th>
                    <td>
                        <input type="text" id="g-name" title="그룹명 입력" value="" required="required" pInputText />
                    </td>
                </tr>
                <tr>
                    <th><label for="g-id">그룹 계정 ID</label> <span class="req">*</span></th>
                    <td><input type="text" id="g-id" title="그룹 계정 ID 입력" value="" required="required" pInputText /></td>
                </tr>
                <tr>
                    <th><label for="g-pswd">그룹 계정 패스워드</label> <span class="req">*</span></th>
                    <td><input type="password" id="g-pswd" title="그룹 계정 패스워드 입력" value="" required="required" pPassword /></td>
                </tr>
                <tr>
                    <th><label for="g-pswd-cofirm">그룹 계정 패스워드 확인</label> <span class="req">*</span></th>
                    <td><input type="password" id="g-pswd-cofirm" title="그룹 계정 패스워드 확인 입력" value="" required="required" pPassword /></td>
                </tr>
                <tr>
                    <th><label for="g-u-name">그룹 계정 사용자명</label> <span class="req">*</span></th>
                    <td><input type="text" id="g-u-name" title="그룹 계정 사용자명 입력" value="" required="required" pInputText /></td>
                </tr>
                <tr>
                    <th><label for="g-info">그룹설명</label></th>
                    <td>
                        <textarea title="그룹설명" id="g-info" class="form_txta" pInputTextarea></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="ui-g-12 ui-g-nopad btn-sec">
            <button class="white-btn">등록</button>
            <a routerLink="/settings/group-manager"><button class="white-btn">취소</button></a>
        </div>
    </form>
</div>