* { outline: none; }
.left { float: left; }
.right { float: right; }
.dp-inb { display: inline-block; }
span.c_red { color: #fe875d; font-weight: bold; }

.setting_btn { height: 30px; padding: 0 10px; vertical-align: bottom; border: none; background: #2399e5; color: #fff; cursor: pointer; }
.setting_btn:hover { background: #1f89ce; }