<div class="ui-g-12 ui-g-nopad margin-bottom-30">
  <folder-picker
    class="margin-right-10"
    [(ngModel)]="selectFolder"
    (onSelect)="categorySearch($event)"
    ngDefaultControl
  ></folder-picker>

  <div class="dp-inb">
    <label for="search-key"></label><input type="text" class="margin-right-10" id="search-key" [(ngModel)]="searchKey" pInputText placeholder="검색어를 입력해주세요" autocomplete="off">
    <button type="button" class="btn margin-right-10" (click)="search()"><i class="fas fa-search"></i> 검색</button>

    <span class="search-result" id="search-result">총 {{searchCount}}개 검색되었습니다.</span>
  </div>
</div>

<div class="ui-g-12 ui-g-nopad" style="position:relative;">
  <div class="change-chart-type-btns">
    <button type="button" class="on changeType" id="bar-type" (click)="changeChartType($event)"><i class="fas fa-chart-line fa-2x"></i></button>
    <button type="button" class="changeType" id="pie-type" (click)="changeChartType($event)"><i class="fas fa-chart-pie fa-2x"></i></button>
  </div>
  <p-blockUI [blocked]="isChartLoading" [target]="ps_contents_chart">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
  </p-blockUI>
  <p-panel class="ui-g-12 ui-g-nopad margin-bottom-40" [showHeader]="false" [style]="{'overflow': 'hidden'}" #ps_contents_chart>
    <div class="ui-g-12 ui-g-nopad chart-container">
      <chart-group
        [chartType]="chartType"
        [chartFill]="false"
        [chartLabels]="chartLabels"
        [chartData]="chartData"
      ></chart-group>
    </div>
  </p-panel>
</div>

<div class="ui-g-12 ui-g-nopad">
  <p-blockUI [blocked]="isTableLoading" [target]="ps_contents_table">
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
  </p-blockUI>
  <p-panel class="ui-g-12 ui-g-nopad" [showHeader]="false" #ps_contents_table>
    <p-table #dt [columns]="contentsStatisticsCols" [value]="contentsStatisticsLists" sortField="playCount" [sortOrder]="-1" [resizableColumns]="true" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20, 50, 100]">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <button type="button" pButton  label="다운로드" (click)="dt.exportCSV()" style="float:right"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
            {{ col.header }}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-columns="columns" let-contentsStatisticsList>
        <tr>
          <td> {{ contentsStatisticsList['ranking'] }} </td>
          <td> {{ contentsStatisticsList['category'] }} </td>
          <td style="text-align: left; padding-left: 10px;"> {{ contentsStatisticsList['content'] }} </td>
          <td> {{ contentsStatisticsList['playCount'] }} 회 </td>
          <td> {{ contentsStatisticsList['regdate'] }} </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer" let-columns="columns">
        <tr>
          <td>Total</td>
          <td>-</td>
          <td>-</td>
          <td>총 {{ totalData['totalPlayCount'] }} 회</td>
          <td>-</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
