<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        <a routerLink="/home"><i class="fas fa-home"></i></a> > 설정 > <span class="path">개인정보 수정</span>
    </div>

    <div class="ui-g-12 ui-g-nopad form-info-sec">
        ㆍ <span class="req">*</span> 는 필수입력 항목입니다.<br />
    </div>
    <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)" class="ui-g-12 ui-g-nopad form-sec">
        <fieldset>
            <div class="ui-g-12 ui-g-nopad table-sec">
                <table>
                    <caption>개인정보 수정 테이블</caption>
                    <colgroup>
                        <col style="width: 260px;">
                        <col style="width: auto;">
                    </colgroup>
                    <tr>
                        <th>ID <span class="req">*</span></th>
                        <td>{{ userform.value['usr_id']}}</td>
                    </tr>
                    <tr>
                        <th>사용자이름 <span class="req">*</span></th>
                        <td>{{ userform.value['usr_nm']}}</td>
                    </tr>
                    <tr>
                        <th><label for="usr_mobile">핸드폰번호</label></th>
                        <td>
                            <input pInputText type="text" id="usr_mobile" class="margin-right-10" formControlName="usr_mobile" title="핸드폰 번호 입력" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="usr_tel">직장번호</label></th>
                        <td>
                            <input pInputText type="text" id="usr_tel" class="margin-right-10" formControlName="usr_tel" title="직장번호 입력" autocomplete="off" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="usr_remark">비고</label></th>
                        <td>
                            <input pInputText type="text" id="usr_remark" class="margin-right-10" formControlName="usr_remark" title="비고 입력" autocomplete="off" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="ui-g-12 ui-g-nopad btn-sec">
                <button type="submit" class="btn margin-right-5" [disabled]="!userform.valid"><i class="fas fa-edit"></i> 수정</button>
                <a routerLink="/settings/group-manager"><button type="button" class="btn"><i class="fas fa-times"></i> 취소</button></a>
            </div>
        </fieldset>
    </form>
</div>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
    <p class="txt-center margin-top-15 margin-bottom-20">수정완료 되었습니다.</p>
    <div class="txt-center">
        <button type="button" class="btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
    </div>
</p-dialog>