<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        SETTINGS / <span class="path">개인정보 수정</span>
    </div>
    <div class="ui-g-12 ui-g-nopad form-info-sec">
        ㆍ <span class="req">*</span> 는 필수입력 항목입니다.<br />
    </div>
    <form class="ui-g-12 ui-g-nopad form-sec">
        <div class="ui-g-12 ui-g-nopad table-sec">
            <table>
                <caption>개인정보 수정 테이블</caption>
                <colgroup>
                    <col style="width: 260px;">
                    <col style="width: auto;">
                </colgroup>
                <tr>
                    <th>ID <span class="req">*</span></th>
                    <td><span>admin@gomcorp.com</span></td>
                </tr>
                <tr>
                    <th>사용자이름 <span class="req">*</span></th>
                    <td><span>GOM 관리자</span></td>
                </tr>
                <tr>
                    <th><label for="phone">핸드폰번호</label></th>
                    <td><input type="text" id="phone" title="휴대폰 입력" value="" pInputText autocomplete="off" /></td>
                </tr>
                <tr>
                    <th><label for="phone2">직장번호</label></th>
                    <td><input type="text" id="phone2" title="유선전화 입력" value="" pInputText autocomplete="off" /></td>
                </tr>
                <tr>
                    <th><label for="address">주소</label></th>
                    <td><input type="text" id="address" title="주소 입력" value="" pInputText autocomplete="off" /></td>
                </tr>
            </table>
        </div>
        <div class="ui-g-12 ui-g-nopad btn-sec">
            <button class="white-btn">수정</button>
        </div>
    </form>
</div>