<div class="route-bar">
    <div class="route-bar-breadcrumb">
        CMS 홈
        <span> &gt; </span>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
            <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
            <span *ngIf="!last">&gt;</span>
        </ng-template>
    </div>

    <ul class="route-bar-menu">
        <li>
            <a href="#" pTooltip="Calendar" tooltipPosition="bottom">
                <i class="fa fa-calendar"></i>
            </a>
        </li>
    </ul>
</div>
