<div class="layout-topbar">
    <a class="logo" [routerLink]="user === 'cms' ? '/dashboard' : '/admin/realtime-monitoring'">
        <img src="assets/layout/images/gxp/logo-icon.png" alt="logo" class="logo-icon" />
        <img src="assets/layout/images/gxp/logo-text.png" alt="logo" class="logo-text"/>
    </a>
    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)" *ngIf="isLayoutShow">
        <i class="fa fa-align-left"></i>
    </a>

    <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)" *ngIf="isLayoutShow">
        <p>김주영 <span *ngIf="user === 'admin'">(슈퍼관리자)</span></p>
        <i class="fa fa-fw fa-angle-down"></i>
    </a>

    <ul id="topbar-usermenu" class="usermenu usermenu-overlay fadeInDown" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
        <li>
            <div href="#">
                <i class="fa fa-fw fa-user"></i>
                <span class="topbar-item-name">user@gomcorp.com</span>
            </div>
        </li>
        <li *ngIf="user === 'cms'">
            <div routerLink="/settings/account/info">
                <i class="fa fa-fw fa-info"></i>
                <span class="topbar-item-name">사용 중인 서비스</span>

                <div class="topbar-user-service">
                    <span class="topbar-item-name">트라이얼 버전</span>
                    <span class="topbar-item-name">2018.10.24 ~ 2018.11.23</span>
                </div>
            </div>
        </li>
        <li *ngIf="user === 'cms'">
            <div routerLink="/settings/account/service-manage">
                <i class="fa fa-fw fa-cog"></i>
                <span class="topbar-item-name">설정</span>
            </div>
        </li>
        <li (click)="logout()">
            <div>
                <i class="fa fa-fw fa-power-off"></i>
                <span class="topbar-item-name">로그아웃</span>
            </div>
        </li>
    </ul>
</div>
