.file-path {font-size: 14px;}
.file-path .path::after {content: " / ";}
.file-path .path:last-child::after {content: "";}
.fbtn-sec * {vertical-align: top;}
.tctr-sec {overflow: hidden;}
.tctr-sec .vbtn-sec {overflow: hidden;}
.tctr-sec .vbtn-sec .vbtn {width:30px; height: 30px; line-height: 30px; padding: 0; border: 1px solid #ddd; border-right: none; background: #fff; text-align: center;}
.tctr-sec .vbtn-sec .vbtn:first-child {border-radius: 10px 0 0 10px;}
.tctr-sec .vbtn-sec .vbtn:last-child {border-right: 1px solid #ddd; border-radius: 0 10px 10px 0;}
.tctr-sec .vbtn-sec .vbtn.on,
.tctr-sec .vbtn-sec .vbtn:hover {background: #f5f5f5; color: #ff6400;}
.tctr-sec .vbtn-sec .vbtn i {vertical-align: middle;}



.contents-preview-sec {border-left: 1px solid #ddd;}

tr:hover {
  background: #efefef;
}
tr:active {
  background: #ededed;
}
td {
  padding: 10px!important;
  -ms-word-break: break-all;
  word-break: break-all;
  cursor: pointer;
}