.file-path {font-size: 14px;}
.file-path .path::after {content: " / ";}
.file-path .path:last-child::after {content: "";}
.fbtn-sec * {vertical-align: top;}
.tctr-sec {overflow: hidden; height: 60px}
.tctr-sec button {vertical-align: top;}
.tctr-sec .vbtn-sec {overflow: hidden;}
.tctr-sec .vbtn-sec .vbtn {width:30px; height: 30px; line-height: 30px; padding: 0; border: 1px solid #ddd; border-right: none; background: #fff; text-align: center;}
.tctr-sec .vbtn-sec .vbtn:first-child {border-radius: 10px 0 0 10px;}
.tctr-sec .vbtn-sec .vbtn:last-child {border-right: 1px solid #ddd; border-radius: 0 10px 10px 0;}
.tctr-sec .vbtn-sec .vbtn.on,
.tctr-sec .vbtn-sec .vbtn:hover {background: #f5f5f5; color: #ff6400;}
.tctr-sec .vbtn-sec .vbtn i {vertical-align: middle;}

.contents-preview-sec {border: none;}
.contents-preview-sec ul {border: 1px solid #ddd;}

th {
  padding: 10px !important;
}
tr.contentLists:hover {
  background: #efefef;
  cursor: pointer;
}
tr.contentLists:active {
  background: #ededed;
  cursor: pointer;
}
td {
  padding: 10px !important;
  -ms-word-break: break-all;
  word-break: break-all;
}
td.emptyMessage {
  padding: 30px !important;
  text-align: center;
  color: #999;
  cursor: auto;
}

.showEmpty {
  text-align: center;
  font-size: 14px;
  color: #999;
  background: #fff;
}

.addFolderForm {display: inline-block;}
.req {color: #f52727;}
.pass {color: #2399e5;}
.info-txt {font-size: 13px;}

.uploadDailog-container {
  position: relative;
}
.progress-group {
  position: absolute;
  top: 46px;
  width: 850px; height: 296px;
  background: rgba(0,0,0,.4);
}
.progress-group p.info-txt {
  position: absolute;
  top: 115px; left: 30px;
  color: #fff;
}
.progress-group .progress-bar {
  position: absolute;
  top: 145px; left: 30px;
  width: 790px; height: 15px;
  overflow: hidden;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.7);
  border-radius: 10px;
}
.progress-group .progress-bar .progress {
  width: 0; height: 100%;
  background: #1f89ce;
  opacity: .7;
  transition-duration: 1s;
}