<div class="ui-g-2 ui-g-nopad">
    <div class="btn-sec txt-center margin-top-30 margin-bottom-30">
        <a routerLink="/fileUpload/up-std"><button class="orange-btn big-btn">파일 업로드</button></a>
    </div>

    <div class="ui-g-12 ui-g-nopad padding-left-20 padding-right-20 margin-bottom-50 group-list-sec">
        <p class="group-list-title margin-bottom-20"><i class="fas fa-users group-icon"></i> <strong>Group List</strong></p>

        <div class="group-corp">
            <a routerLink="/contents">
                <p class="corp_name_sec on">
                    <i class="fas fa-building"></i> <span class="corp-name">GOM</span>
                </p>
            </a>
            <a routerLink="/contents">
                <p class="corp_name_sec">
                    <i class="fas fa-building"></i> <span class="corp-name">GVA</span>
                </p>
            </a>
        </div>
    </div>
</div>
<div class="ui-g-10 ui-g-nopad">
    <contents-wrap></contents-wrap>
</div>

