<div class="ui-g-2 ui-g-nopad">
    <div class="btn-sec txt-center margin-top-30 margin-bottom-30">
        <button class="btn big-btn" (click)="isModalDisplay = true" [disabled]="!selectGroup || selectGroup['grp_seq']"><i class="fas fa-upload margin-right-5"></i> 파일 업로드</button>
    </div>

    <p class="group-list-title margin-bottom-10 padding-left-10"><i class="fas fa-users"></i> 그룹 리스트</p>
    <p-tree id="treeObject" [value]="groupList" selectionMode="single" [(selection)]="selectGroup" (onNodeSelect)="loadFolder()" class="ui-g-12 ui-g-nopad" [style]="{width: '100%', padding: '10px 0'}"></p-tree>
</div>

<div class="ui-g-10 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad content-sec">
        <path></path>
        <!--버튼-->
        <div class="ui-g-12 ui-g-nopad tctr-sec margin-bottom-10">
            <button type="button" class="btn margin-right-5" *ngIf="selectGroup" (click)="showFolderForm()"><i class="fas fa-folder"></i> 새폴더</button>
            <form [formGroup]="folderform" (ngSubmit)="addFolder(folderform.value)" *ngIf="showAddFolderForm" class="addFolderForm">
                <fieldset>
                    <label for="gf_nm"></label>
                    <input pInputText type="text" class="margin-right-5" id="gf_nm" formControlName="gf_nm" title="폴더명 입력" autocomplete="off" maxlength="21" (change)="initDupFolderName()" />
                    <button type="button" class="btn margin-right-5" (click)="dupFolderName()"><i class="fas fa-clipboard-check"></i> 중복확인</button>
                    <button type="submit" class="btn" [disabled]="!folderform.valid || !ableFolderName"><i class="fas fa-plus"></i> 추가</button>
                    <div *ngIf="showFolderNameDupMsg">
                        <p class="pass info-txt margin-top-5" *ngIf="ableFolderName">사용가능한 폴더명입니다.</p>
                        <p class="req info-txt margin-top-5" *ngIf="!ableFolderName">사용중인 폴더명입니다.</p>
                    </div>
                    <div *ngIf="!folderform.get('gf_nm').valid && folderform.get('gf_nm').dirty" class="addFolderFormErrorMessage">
                        <p class="req info-txt margin-top-5" *ngIf="folderform.get('gf_nm').errors['maxlength']"> 20자 이내로 입력해주세요</p>
                    </div>
                </fieldset>
            </form>
            <div class="filter-sec f-right">
                <div class="fbtn-sec">
                    <button class="btn margin-right-5" (click)="changeStatusRestart()"><i class="fas fa-redo"></i> 변환 재시작</button>
                    <button class="btn margin-right-5" (click)="changeStatusDelete()"><i class="fas fa-trash-alt"></i> 삭제</button>

                    <label for="file-key"></label><input type="text" class="margin-right-5" id="file-key" [(ngModel)]="searchKey" pInputText placeholder="파일명 입력" autocomplete="off">
                    <button type="button" class="btn margin-right-5" (click)="contentSearch()"><i class="fas fa-search"></i> 검색</button>
                    <button type="button" class="btn margin-right-5" (click)="resetFilter()" [disabled]="!filterStatus"><i class="fas fa-history"></i> 초기화</button>

                    <!--<div class="vbtn-sec dp-inb">-->
                    <!--<button class="vbtn f-left list-mode on"><i class="fas fa-bars"></i> <span class="blind">리스트 스타일 보기</span></button>-->
                    <!--<button class="vbtn f-left icon-mode"><i class="fab fa-microsoft"></i> <span class="blind">아이콘 스타일 보기</span></button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--리스트-->
        <div class="ui-g-9 ui-g-nopad">
            <div class="ui-g-12 ui-g-nopad table-sec">
                <p-table [value]="filtercontentsLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50]" [(selection)]="selectItems" >
                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of contentCols" [style.width]="col.width">
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 2.25em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>제목</th>
                            <th>크기</th>
                            <th>전체 변환율</th>
                            <th>생성날짜</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contentsList>
                        <tr [pSelectableRow]="contentsList" (click)="showPreview(contentsList)" class="contentLists">
                            <td><p-tableCheckbox [value]="contentsList" ></p-tableCheckbox></td>
                            <td>{{ contentsList.fo_nm }}</td>
                            <td>{{ contentsList.fo_size }} MB</td>
                            <td>{{ contentsList.statusLabel }}</td>
                            <td>{{ contentsList.fo_reg_dtm }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5" class="emptyMessage"> 표시할 데이터가 없습니다. </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!--미리보기-->
        <div class="ui-g-3 ui-g-nopad list-sec contents-preview-sec">
            <ul class="ui-g-12 ui-g-nopad margin-bottom-25">
                <li>
                    <h3 class="ui-g-12 ui-g-nopad list-title"><i class="fas fa-search"></i> 썸네일 미리보기</h3>
                    <!--<preview-thumbnail class="ui-g-12 ui-g-nopad" [originFileInfo]="originFileInfo" *ngIf="showInfos"></preview-thumbnail>-->
                    <div class="ui-g-12 ui-g-nopad" id="thumbArea" [ngStyle]="{'display': showInfos ? 'block' : 'none'}">
                        <img src="" id="pvThumbnail" alt="썸네일 이미지" title="썸네일 이미지" class="ui-g-12 ui-g-nopad padding-top-10 padding-bottom-10" />
                    </div>
                    <div class="ui-g-12 ui-g-nopad showEmpty padding-top-20 padding-bottom-30" *ngIf="!showInfos">데이터가 없습니다.</div>
                </li>
                <li>
                    <h3 class="ui-g-12 ui-g-nopad list-title"><i class="fas fa-spinner"></i> 트랜스코딩 진행상황</h3>
                    <preview-status class="ui-g-12 ui-g-nopad" [transcodingStatus]="transcodingStatus" [folderPath]="folderPath" *ngIf="showInfos"></preview-status>
                    <div class="ui-g-12 ui-g-nopad showEmpty padding-top-20 padding-bottom-30" *ngIf="!showInfos">데이터가 없습니다.</div>
                </li>
                <li>
                    <h3 class="ui-g-12 ui-g-nopad list-title"><i class="fas fa-info-circle"></i> 원본 파일정보</h3>
                    <preview-fInfo class="ui-g-12 ui-g-nopad" [originFileInfo]="originFileInfo" [folderPath]="folderPath" *ngIf="showInfos"></preview-fInfo>
                    <div class="ui-g-12 ui-g-nopad showEmpty padding-top-20 padding-bottom-30" *ngIf="!showInfos">데이터가 없습니다.</div>
                </li>
            </ul>

            <div class="btn-sec txt-center margin-bottom-30" *ngIf="showInfos">
                <button type="button" class="btn margin-right-5" (click)="changeStatusRestartItem()"><i class="fas fa-redo"></i> 변환 재시작</button>
                <button type="button" class="btn" (click)="changeStatusDeleteItem()"><i class="fas fa-trash-alt"></i> 삭제</button>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog width="500" #confirm>
    <p-footer>
        <button type="button" class="btn margin-right-10" (click)="confirm.accept()"><i class="fas fa-check"></i> 확인</button>
        <button type="button" class="btn" (click)="confirm.reject()"><i class="fas fa-times"></i> 취소</button>
    </p-footer>
</p-confirmDialog>
<p-dialog header="파일업로드" [(visible)]="isModalDisplay" [width]="900" [modal]="true" (onShow)="setUploadStyle()" (onHide)="uploadInit()" [positionTop]="200">
    <div class="ui-g-12 ui-g-nopad margin-top-30 margin-bottom-30 uploadDailog-container" id="uploadDailog-container">
        <p-fileUpload name="files[]" multiple="multiple" customUpload="true" #form (uploadHandler)="fileUpload($event, form)" accept=".mp4, .avi, .wmv, .flv, .mp3, .asf, .mkv, .rm, .mov, .wav, .m4v, .mpg, .ogg, .ogv, .swf, .tp, .ts, .webm, .wma, .mxf">
            <div class="ui-fileupload-content"></div>
            <ng-template pTemplate="content" *ngIf="!isUploading">
                <ul>
                    <li *ngFor="let file of uploadFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    <div class="progress-group" [ngStyle]="{'display': isUploading ? 'block' : 'none'}">
        <p class="info-txt" *ngIf="progressPercent < 100">
            <i class="fa fa-spinner fa-spin"></i> 업로드가 진행 중 입니다.
        </p>
        <p class="info-txt" *ngIf="progressPercent === 100">
            <i class="fas fa-check"></i> 업로드가 완료 되었습니다.
        </p>

        <div class="progress-bar">
            <div class="progress" id="progress" [ngStyle]="{'width': progressPercent + '%'}"></div>
        </div>
    </div>

    <p-footer>
        <div class="txt-center">
            <button type="button" class="btn" (click)="isModalDisplay=false;" label="confirm"><i class="fas fa-times"></i> 닫기</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog [(visible)]="isShowUploadMessage" [width]="400" [modal]="true" (onHide)="isUploading = false" [showHeader]="false">
    <p class="txt-center margin-top-15 margin-bottom-20">파일 업로드가 완료되었습니다. <br>목록 반영까지 1~3분 소요됩니다.</p>
    <div class="txt-center">
        <button type="button" class="btn" (click)="isShowUploadMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
    </div>
</p-dialog>
<p-dialog [(visible)]="isShowFolderMessage" [width]="400" [modal]="true" [showHeader]="false">
    <p class="txt-center margin-top-15 margin-bottom-30"> 폴더 추가는 8개까지 하실 수 있습니다.</p>
    <div class="txt-center">
        <button type="button" class="btn" (click)="isShowFolderMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
    </div>
</p-dialog>