<div class="ui-g-12 ui-g-nopad" style="margin-bottom: 25vh;">
  <div class="ui-g-12 card" style="padding: 25px;">
    <div class="ui-g-12 ui-g-nopad filterArea margin-bottom-50">
      <div class="left">
        <p-dropdown [options]="storageList" [(ngModel)]="selectedStorage" [style]="{'width': '200px'}" (onChange)="loadMediaStorageList(selectedStorage);"></p-dropdown>
        <button type="button" class="margin-left-10 setting_btn" (click)="settingDialog=true;"><i class="fas fa-cog"></i></button>
      </div>
      <div class="right">
        <button pButton type="button" label="파일 올리기"></button>
      </div>
    </div>

    <div class="dataArea margin-bottom-50">
      <div class="ui-g-nopad ui-g-12" style="margin-bottom: 30px;">
        <div class="left">
          <button pButton type="button" label="선택 이동" class="margin-right-10" (click)="moveStorage();"></button>
          <button pButton type="button" label="선택 삭제" class="margin-right-10"></button>
          총 <span class="c_red">{{ mediaStorageRowData.length }}</span>개
        </div>
        <div class="right">
          <input type="text" pInputText placeholder="검색">
        </div>
      </div>
      <div class="ui-g-nopad ui-g-12">
        <p-table #dt class="selectTable" [columns]="mediaStorageCols" [value]="mediaStorageRowData" sortField="regdate" [sortOrder]="-1" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,50,100]" [(selection)]="tempCompareItems"> <!--selectionMode="multiple" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowSelect()" -->
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 3em">
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaStorage>
            <tr [pSelectableRow]="mediaStorage" style="cursor: pointer;">
              <td>
                <p-tableCheckbox [value]="mediaStorage"></p-tableCheckbox>
              </td>
              <td>{{ mediaStorage['fo_seq'] }}</td>
              <td>
                <a routerLink="/media-storage/detail"><img [src]="mediaStorage['fo_thumb_path']" alt="썸네일" style="width: 100%; height: auto;"></a>
              </td>
              <td>{{ mediaStorage['gf_nm'] }}</td>
              <td>{{ mediaStorage['title'] }}</td>
              <td>{{ mediaStorage['fo_nm'] }}</td>
              <td>{{ mediaStorage['filetype'] }}</td>
              <td>{{ mediaStorage['fo_size'] }} MB</td>
              <td>{{ mediaStorage['status'] }}</td>
              <td>{{ mediaStorage['fo_reg_dtm'] }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="settingDialog" [width]="900" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="margin-top-40 margin-bottom-50">
    <h2 class="txt-center margin-bottom-40">미디어보관함 관리</h2>
    <div>
      <button pButton type="button" class="margin-right-5 margin-bottom-20" label="새로 추가"></button>
      <button pButton type="button" class="margin-right-5" label="선택 삭제"></button>
      <button pButton type="button" label="수정"></button>

      <p-table class="selectTable" [columns]="mediaSettingCols" [value]="mediaSettingRowData" [resizableColumns]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100]" [(selection)]="selectSettingItems"> <!--selectionMode="multiple" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowSelect()" -->
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" pResizableColumn>
              {{ col.header }}
              <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaSetting>
          <tr [pSelectableRow]="mediaSetting">
            <td>
              <p-tableCheckbox [value]="mediaSetting"></p-tableCheckbox>
            </td>
            <td>
              {{ mediaSetting['mediaStorage'] }}
            </td>
            <td>{{ mediaSetting['contentsCount'] }} 개</td>
            <td>{{ mediaSetting['fileSize'] }} MB</td>
            <td>{{ mediaSetting['regdate'] }}</td>
            <td>{{ mediaSetting['updateDate'] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-40">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="settingDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" (click)="settingDialog=false;" label="저장"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="moveDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    <h2 class="margin-bottom-40">선택파일 이동</h2>
    <span class="margin-right-10">미디어보관함</span>
    <p-dropdown [options]="storageList" [(ngModel)]="selectedMoveStorage"></p-dropdown>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="moveDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" (click)="moveDialog=false;" label="확인"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="notSelectDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    항목을 선택해주세요.
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="submit" (click)="notSelectDialog=false;" label="확인"></button>
  </div>
</p-dialog>