<div class="ui-g-12 ui-g-nopad" style="margin-bottom: 40vh;">
  <div class="ui-g-12 card" style="padding: 25px;">
    <div class="ui-g-12 ui-g-nopad filterArea margin-bottom-50">
      <div class="left">
        <p-dropdown [options]="storageList" [(ngModel)]="selectedStorage" [style]="{'width': '200px'}" (onChange)="loadMediaStorageList(selectedStorage);"></p-dropdown>
        <button type="button" class="margin-left-10 setting_btn" (click)="settingDialog=true; loadMediaStorage();"><i class="fas fa-cog"></i></button>
      </div>
      <div class="right">
        <button pButton type="button" label="파일 올리기" (click)="uploadDialog = true;"></button>
      </div>
    </div>

    <div class="dataArea margin-bottom-50">
      <div class="ui-g-nopad ui-g-12" style="margin-bottom: 30px;">
        <div class="left">
          <button pButton type="button" label="선택 이동" class="margin-right-10" (click)="hasSelectItem('move');"></button>
          <button pButton type="button" label="선택 삭제" class="margin-right-10" (click)="hasSelectItem('delete');"></button>
          총 <span class="c_red">{{ mediaStorageRowData.length }}</span>개
        </div>
        <div class="right">
          <input type="text" pInputText placeholder="검색">
        </div>
      </div>
      <div class="ui-g-nopad ui-g-12">
        <p-table #dt class="selectTable" [columns]="mediaStorageCols" [value]="mediaStorageRowData" sortField="regdate" [sortOrder]="-1" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,50,100]" [(selection)]="tempSelectItems">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 3em">
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaStorage>
            <tr [pSelectableRow]="mediaStorage">
              <td>
                <p-tableCheckbox [value]="mediaStorage"></p-tableCheckbox>
              </td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_seq'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">
                <img [src]="mediaStorage['fo_thumb_path']" alt="썸네일" style="width: 100%; height: auto;">
              </td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['gf_nm'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['title'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_nm'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['filetype'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_size'] }} MB</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['status'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_reg_dtm'] }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="settingDialog" [width]="1000" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="margin-top-40 margin-bottom-50">
    <h2 class="txt-center margin-bottom-40">미디어보관함 관리</h2>
    <div>
      <button pButton type="button" class="margin-right-5 margin-bottom-20" label="새로 추가" (click)="addMediaStorage();"></button>
      <button pButton type="button" class="margin-right-5" label="선택 삭제" (click)="deleteMediaStorage();"></button>
      <button pButton type="button" label="수정" (click)="modifyMediaStorage();"></button>

      <div style="width: 100%; max-height: 300px; overflow-y: scroll;">
        <p-table class="selectTable" [columns]="mediaSettingCols" [value]="mediaSettingRowData" [resizableColumns]="true" [(selection)]="selectSettingItems">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" pResizableColumn>
                {{ col.header }}
                <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaSetting>
            <tr [pSelectableRow]="mediaSetting">
              <td>
                <p-tableCheckbox [value]="mediaSetting"></p-tableCheckbox>
              </td>
              <td *ngIf="mediaSetting['mode'] === 'add' || mediaSetting['mode'] === 'modify'">
                <input type="text" [(ngModel)]="mediaSetting['gf_nm']" placeholder="보관함명을 입력해주세요" style="width: 100%; padding: 5px 10px; border: 1px solid #ccc;">
              </td>
              <td *ngIf="mediaSetting['mode'] === 'normal'">
                {{ mediaSetting['gf_nm'] }}
              </td>
              <td>{{ mediaSetting['content_cnt'] }} <span *ngIf="mediaSetting['mode'] !== 'add'">개</span></td>
              <td>{{ mediaSetting['content_size'] }} <span *ngIf="mediaSetting['mode'] !== 'add'">MB</span></td>
              <td>{{ mediaSetting['gf_reg_dtm'] }}</td>
              <td>{{ mediaSetting['updated_at'] }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-40">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="settingDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" label="저장" (click)="updateMediaStorage();"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="moveDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    <h2 class="margin-bottom-40">선택파일 이동</h2>
    <span class="margin-right-10">미디어보관함</span>
    <p-dropdown [options]="originStorageList" [(ngModel)]="selectedMoveStorage"></p-dropdown>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="moveDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" (click)="moveMediaStorage();" label="확인"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="notSelectDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    항목을 선택해주세요.
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="submit" (click)="notSelectDialog=false;" label="확인"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="uploadDialog" [width]="750" [modal]="true" [showHeader]="false" [style]="{'max-height': '750px', 'overflow-y': 'scroll'}">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    <h2 class="margin-bottom-40">{{ uploadDialogTitle }}</h2>
  </div>
  <p-tabView (onChange)="changeDialogTitle($event)">
    <p-tabPanel header="파일올리기">
      <div>
        <span class="margin-right-10">미디어보관함</span>
        <p-dropdown [options]="originStorageList" [(ngModel)]="selectedMoveStorage" [style]="{'width': '150px', 'height': '32px', 'padding-left': '10px', 'vertical-align': 'top', 'text-align': 'left', 'background': '#fff'}"></p-dropdown>
        <input type="file" pInputText [(ngModel)]="uploadFiles" placeholder="파일 추가" class="margin-left-10" style="width: 300px; border: 1px solid #ddd; cursor: pointer;">
      </div>
      <div class="margin-top-30 margin-bottom-30" style="max-height: 200px; overflow-y: scroll;">
        총 <span class="c_red">{{ uploadRowData.length }}</span>개 / <span class="c_red">555</span>MB
        <p-table #dt class="selectTable" [columns]="uploadCols" [value]="uploadRowData">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
              <col style="width: 2em;">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                {{ col.header }}
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-item>
            <tr>
              <td>{{ item.gf_nm }}</td>
              <td>{{ item.fo_nm }}</td>
              <td>{{ item.filetype }}</td>
              <td>{{ item.content_size }} MB</td>
              <td>{{ item.status }}</td>
              <td><p-progressBar [value]="item.progress"></p-progressBar></td>
              <td><button type="button" style="border: none; background: none; color: #ff6400; cursor: pointer;"><i class="fas fa-times"></i></button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="편집해서 올리기">
      <div>
        <span class="margin-right-10">미디어보관함</span>
        <p-dropdown [options]="originStorageList" [(ngModel)]="selectedMoveStorage" [style]="{'width': '150px', 'height': '32px', 'padding-left': '10px', 'vertical-align': 'top', 'text-align': 'left', 'background': '#fff'}"></p-dropdown>
        <input type="file" pInputText [(ngModel)]="uploadFiles" placeholder="파일 추가" class="margin-left-10" style="width: 300px; border: 1px solid #ddd; cursor: pointer;">
      </div>
      <div class="margin-top-10 margin-bottom10 txt-center">
        <img src="../../../../../../assets/layout/images/gxp/preivew.png" alt="미리보기 플레이어 영역">
      </div>
      <div class="select-section">
        <ul class="sec_list ui-g-nopad">
          <li class="first_sec" *ngFor="let item of selectSections; let i = index;">
            <button class="close_btn" *ngIf="i !== 0" (click)="removeSelectSection(i)"><i class="fas fa-times"></i></button>
            <span>구간 선택</span>
            <div class="time_sec">
              <input type="text" title="구간 시작 시간" [value]="item.startTime" /> ~ <input type="text" title="구간 끝 시간" [value]="item.endTime" /> / 재생시간 <span>{{ item.fullTime }}</span>
              <div style="padding: 20px 10px;">
                <p-slider [(ngModel)]="item.selectRange" [range]="true"></p-slider>
              </div>
            </div>
          </li>
        </ul>
        <button type="button" pButton label="구간 추가" (click)="addSelectSection();" style="display: block; margin: 0 auto;"></button>
      </div>
    </p-tabPanel>
  </p-tabView>

  <p-accordion class="margin-top-10">
    <p-accordionTab>
      <p-header>
        인코딩 프리셋 선택 <span routerLink="/settings/user-preset/encoding/list" style="float: right; font-weight: normal; font-size: 13px; text-decoration: underline;">인코딩 프리셋 설정 &gt;</span>
      </p-header>
      <div class="ui-g-12 ui-g-nopad encoding-preset">
        <ul class="ui-g-5 ui-g-nopad encoding-list">
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="origin" label="원본"></p-radioButton>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding0" label="포맷 변환용"></p-radioButton>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding1" label="스마트폰 / 태블릿"></p-radioButton>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding2" label="오디오 추출용"></p-radioButton>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding3" label="사용자 지정"></p-radioButton> &nbsp;&nbsp;<span class="c_red">영상 편집용</span>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding4" label="사용자 지정"></p-radioButton> &nbsp;&nbsp;<span class="c_red">인트로 영상용</span>
          </li>
          <li>
            <p-radioButton name="encodingPreset" [(ngModel)]="encodingPreset" value="encoding4" label="사용자 지정"></p-radioButton> &nbsp;&nbsp;<span class="c_red">포맷 변환용</span>
          </li>
        </ul>
        <div class="ui-g-7 ui-g-nopad encoding-detail">
          <div class="ui-g-12">
            <p class="ui-g-4" style="font-weight: bold;">
              영상 설정
            </p>
            <div class="ui-g-8">
              <div class="ui-g-12"><span class="title">화면크기</span> 340</div>
              <div class="ui-g-12"><span class="title">비율</span> 자동으로 확장</div>
              <div class="ui-g-12"><span class="title">화질/용량</span> 2048Kbps</div>
              <div class="ui-g-12"><span class="title">파일형식</span> MP4</div>
            </div>
          </div>
          <div class="ui-g-12">
            <p class="ui-g-4" style="font-weight: bold;">
              오디오 설정
            </p>
            <div class="ui-g-8">
              <div class="ui-g-12"><span class="title">샘플레이트</span> 48000 Hz 모노</div>
              <div class="ui-g-12"><span class="title">노멀라이저</span> 40</div>
            </div>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>

  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="submit" (click)="uploadDialog=false;" label="취소" class="margin-right-10"></button>
    <button pButton type="submit" (click)="uploadDialog=false;" label="업로드"></button>
  </div>
</p-dialog>