<div class="ui-g-12 ui-g-nopad" style="margin-bottom: 25vh;">
  <div class="ui-g-12 card" style="padding: 25px;">
    <div class="ui-g-12 ui-g-nopad filterArea margin-bottom-50">
      <div class="left">
        <p-dropdown [options]="storageList" [(ngModel)]="selectedStorage" [style]="{'width': '200px'}" (onChange)="loadMediaStorageList(selectedStorage);"></p-dropdown>
        <button type="button" class="margin-left-10 setting_btn" (click)="settingDialog=true; loadMediaStorage();"><i class="fas fa-cog"></i></button>
      </div>
      <div class="right">
        <button pButton type="button" label="파일 올리기"></button>
      </div>
    </div>

    <div class="dataArea margin-bottom-50">
      <div class="ui-g-nopad ui-g-12" style="margin-bottom: 30px;">
        <div class="left">
          <button pButton type="button" label="선택 이동" class="margin-right-10" (click)="hasSelectItem('move');"></button>
          <button pButton type="button" label="선택 삭제" class="margin-right-10" (click)="hasSelectItem('delete');"></button>
          총 <span class="c_red">{{ mediaStorageRowData.length }}</span>개
        </div>
        <div class="right">
          <input type="text" pInputText placeholder="검색">
        </div>
      </div>
      <div class="ui-g-nopad ui-g-12">
        <p-table #dt class="selectTable" [columns]="mediaStorageCols" [value]="mediaStorageRowData" sortField="regdate" [sortOrder]="-1" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,50,100]" [(selection)]="tempSelectItems">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width: 3em">
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaStorage>
            <tr [pSelectableRow]="mediaStorage">
              <td>
                <p-tableCheckbox [value]="mediaStorage"></p-tableCheckbox>
              </td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_seq'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">
                <img [src]="mediaStorage['fo_thumb_path']" alt="썸네일" style="width: 100%; height: auto;">
              </td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['gf_nm'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['title'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_nm'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['filetype'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_size'] }} MB</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['status'] }}</td>
              <td routerLink="/media-storage/detail" style="cursor: pointer;">{{ mediaStorage['fo_reg_dtm'] }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length + 1" class="emptyMessage">표시할 데이터가 없습니다.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="settingDialog" [width]="1000" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="margin-top-40 margin-bottom-50">
    <h2 class="txt-center margin-bottom-40">미디어보관함 관리</h2>
    <div>
      <button pButton type="button" class="margin-right-5 margin-bottom-20" label="새로 추가" (click)="addMediaStorage();"></button>
      <button pButton type="button" class="margin-right-5" label="선택 삭제" (click)="deleteMediaStorage();"></button>
      <button pButton type="button" label="수정" (click)="modifyMediaStorage();"></button>

      <div style="width: 100%; max-height: 300px; overflow-y: scroll;">
        <p-table class="selectTable" [columns]="mediaSettingCols" [value]="mediaSettingRowData" [resizableColumns]="true" [(selection)]="selectSettingItems">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" pResizableColumn>
                {{ col.header }}
                <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-mediaSetting>
            <tr [pSelectableRow]="mediaSetting">
              <td>
                <p-tableCheckbox [value]="mediaSetting"></p-tableCheckbox>
              </td>
              <td *ngIf="mediaSetting['mode'] === 'add' || mediaSetting['mode'] === 'modify'">
                <input type="text" [(ngModel)]="mediaSetting['gf_nm']" placeholder="보관함명을 입력해주세요" style="width: 100%; padding: 5px 10px; border: 1px solid #ccc;">
              </td>
              <td *ngIf="mediaSetting['mode'] === 'normal'">
                {{ mediaSetting['gf_nm'] }}
              </td>
              <td>{{ mediaSetting['content_cnt'] }} <span *ngIf="mediaSetting['mode'] !== 'add'">개</span></td>
              <td>{{ mediaSetting['content_size'] }} <span *ngIf="mediaSetting['mode'] !== 'add'">MB</span></td>
              <td>{{ mediaSetting['gf_reg_dtm'] }}</td>
              <td>{{ mediaSetting['updated_at'] }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-40">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="settingDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" label="저장" (click)="updateMediaStorage();"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="moveDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    <h2 class="margin-bottom-40">선택파일 이동</h2>
    <span class="margin-right-10">미디어보관함</span>
    <p-dropdown [options]="originStorageList" [(ngModel)]="selectedMoveStorage"></p-dropdown>
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" (click)="moveDialog=false;" label="취소"></button>
    <button pButton type="submit" class="btn" (click)="moveMediaStorage();" label="확인"></button>
  </div>
</p-dialog>

<p-dialog [(visible)]="notSelectDialog" [width]="400" [modal]="true" [showHeader]="false">
  <div class="txt-right margin-top-15">
    <button type="button" class="close_btn" (click)="closePopup()" label="close button"><i class="fas fa-times"></i></button>
  </div>
  <div class="txt-center margin-top-30 margin-bottom-30">
    항목을 선택해주세요.
  </div>
  <div class="ui-g-12 ui-g-nopad txt-center margin-top-40 margin-bottom-30">
    <button pButton type="submit" (click)="notSelectDialog=false;" label="확인"></button>
  </div>
</p-dialog>
