<div class="ui-g-nopad ui-g-12 margin-top-30" style="margin-bottom: 30vh;">
  <div class="card">
    <form [formGroup]="skinAddForm" (ngSubmit)="onSubmit(skinAddForm.value)">
      <fieldset>
        <div class="ui-g-12 ui-g-nopad">
          <div class="form-row ui-g-12 ui-g-nopad">
            <p class="form-title ui-g-2 ui-g-nopad">스킨명</p>
            <div class="form-data ui-g-10 ui-g-nopad">
              <input type="text" formControlName="skinName" [(ngModel)]="skinNameLength" pInputText placeholder="스킨명을 입력해주세요."> &nbsp;&nbsp;
              <span [class]="skinNameLength.length > 15 ? 'c_red' : ''">({{ skinNameLength.length }} / 15)</span>
            </div>
          </div>
          <div class="form-row ui-g-12 ui-g-nopad">
            <p class="form-title ui-g-2 ui-g-nopad">스킨 등록</p>
            <div class="form-data ui-g-10 ui-g-nopad">
              <input type="file" pInputText formControlName="thumbnail" class="margin-bottom-10" style="cursor: pointer;">
              <div style="width: 300px;">
                <img src="http://str.gomgxp.com/thail/GXP/2018/fLayoutTest/KakaoTalk_Video_20170612_1744_48_996/KakaoTalk_Video_20170612_1744_48_9960001.jpg" alt="미리보기" style="width: 100%; height: auto;">
              </div>
            </div>
          </div>
          <div class="form-row ui-g-12 ui-g-nopad">
            <p class="info-txt">※ 새로운 스킨등록 후 상세페이지에서 영상과 시간을 지정해주세요.</p>
          </div>
        </div>

        <div class="ui-g-12 ui-g-nopad margin-top-40 margin-bottom-20 txt-center">
          <a routerLink="/interactive-service/ad-manage/skin-manager/skin-list"><button pButton type="reset" class="btn margin-right-5 ui-button-secondary" label="취소"></button></a>
          <button pButton type="submit" class="btn" label="저장" [disabled]="!skinAddForm.valid"></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
