.date-picker {

  & {
    position: relative;
    display: inline-block;

    & * {
      font-size: 12px;
      font-family: 'Malgun Gothic';
      cursor: pointer;
    }
  }

  .date-picker-input {
    min-width: 191px;
    width: 250px;
    height: 30px;
    padding: 7px 13px;
    line-height: 1.17;
    letter-spacing: normal;
    color: #66676c;
    background-color: #ffffff;
    border: solid 1px #dbdee3;
    box-sizing: border-box;
    outline: none;

    &:focus:not(.readonly) {
      border-color: #ffb786;
    }
    &:hover {
      background-color:#f6f6fa;
    }
    &.readonly {
      color: #888a8e;
      background-color: #f6f6fa;
      cursor: not-allowed;
    }
  }
  & .ranges-container {
    width: 100%;
    position: absolute;
    display: inline-block;
    border: solid 1px #dbdee3;
    z-index: 3001;
    background-color: #ffffff;
    top: 27px;
    right: 0;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;

      & .range-list {
        line-height: 28px;
        padding: 0 13px;
        cursor: pointer;
        color: #66676c;
        &.active {
          background-color: #ff9954;
          color: #ffffff;
        }
        &:hover:not(.active) {
          background-color: #f6f7f9;
        }

      }
    }
    .range-inputs {
      height: 46px;
      border-top: solid 1px #dbdee3;
      padding: 11px 47px;
      box-sizing: border-box;
      text-align: center;

      & button {
        width: 45px;
        height: 24px;
        color: #ffffff;
        outline: none;
        border: none;
        line-height: 1.25;
        cursor: pointer;
        font-size: 12px;
        font-family: "Helvetica Neue";

        &.applyBtn {
          background-color: #ff9954;
          &:hover {
            background-color: #ff7c23;
          }
        }
        &.cancelBtn {
          background-color: #9192a1;
          &:hover {
            background-color: #6b6c7d;
          }
        }
      }
    }
  }


  .calendar-container {
    // width: 540px;
    //height: 272px;
    display: none;
    padding-bottom: 30px;
    vertical-align: top;
    border: solid 1px #dbdee3;
    z-index: 3001;
    background-color: #ffffff;
    position: absolute;
    top: 27px; left: 0;
    background: #fff;

    &.active {
      display: inline-block;
      background-color: #ffffff;
    }

    & div {
      display: inline-block;
    }
    & .calendar {
      width: auto;
      text-align: center;
      & > div {
        display: block;
        position: relative;

        & .glyphicon-calendar {
          position: absolute;
          top: 28px;
          left: 32px;
        }
      }
      & .date-picker-input {
        width: 265px;
        margin: 21px;
        margin-bottom: 10px;
        padding-left: 33px;
      }
      & p-calendar {
        & > .ui-calendar {
          width: auto;
        }
        & .ui-datepicker {
          width: 265px;
          border: none;
          & .ui-datepicker-header {
            width: 100%;
            margin: 5px 0px;
            & > a {
              color: #33353a;

              &.ui-datepicker-prev {
                & > span:before {
                  content: "\e916";
                  font-family: 'K7_Icon2';
                  font-size: 14px;
                }
              }

              &.ui-datepicker-next {
                & > span:before {
                  content: "\e918";
                  font-family: 'K7_Icon2';
                  font-size: 14px;
                }
              }
            }
          }
          & .ui-datepicker-title {
            color: #474a50;
            font-weight: normal;
            font-size: 14px;
            & > span {
              vertical-align: bottom;
            }
            & select {
              width: auto;
              vertical-align: top;
              background-color: #ffffff;
              border: 1px solid #dbdee3;
              outline: none;
              margin: .125em 2px;
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
              border-top-left-radius: 0;
              border-top-right-radius: 0;

              &.ui-datepicker-month {
                float: right;
              }
            }
          }
          & .ui-datepicker-calendar {

            & tr {
              & > th {
                color: #66676c;
                border-top: 1px solid #dbdee3;
                border-bottom: 1px solid #dbdee3;
                padding: 4px 0px;
                font-weight: 400;
              }
            }

            & tbody tr td a {
              color: #66676c;
              text-align: center;
              border: none;
              font-weight: 400;

              &:hover {
                background-color: #e8e9ec;
              }
              &.ui-state-active {
                background-color: #9988ee;
                color: #ffffff;
              }

            }

          }
        }
      }

      &.left {
        & p-calendar {
          & .ui-datepicker-next {
            // display: none;
          }
        }
      }
      &.right {
        & p-calendar {
          & .ui-datepicker-prev {
            display: none;
          }
        }

      }
    }

  }

  // }
}