<div class="ui-g-12 ui-g-nopad">
  <div class="card">
    <h1 class="txt-center margin-top-30 margin-bottom-30">1:1 문의</h1>
    <p class="txt-center" style="line-height: 26px;">견적 또는 서비스에 대해 궁금한 점이 있으신가요?<br/>빠른 시간 내에 입력하신 연락처로 답변드리겠습니다.</p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
      <fieldset>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">*</span> 이름</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input pInputText formControlName="name">
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">*</span> 연락처</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input pInputText formControlName="phone" placeholder="000-0000-0000">
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">&nbsp;</span> 이메일</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input pInputText formControlName="email" style="vertical-align: bottom;"> @ <p-dropdown [options]="emailDomainList" formControlName="emailDomain"></p-dropdown>
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">*</span> 제목</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input pInputText formControlName="title">
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">*</span> 내용</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <textarea formControlName="contents" placeholder="내용을 입력해주세요."></textarea>
          </div>
        </div>
        <div class="form-row ui-g-12 ui-g-nopad">
          <p class="form-title ui-g-2 ui-g-nopad"><span class="c_red">&nbsp;</span> 파일첨부</p>
          <div class="form-data ui-g-10 ui-g-nopad">
            <input type="file" formControlName="files">
          </div>
        </div>

        <div class="ui-g-12 ui-g-nopad margin-top-40 margin-bottom-20 txt-center">
          <button pButton type="reset" class="btn margin-right-5 ui-button-secondary" label="초기화"></button>
          <button pButton type="submit" class="btn" label="저장" [disabled]="!contactForm.valid"></button>
        </div>
      </fieldset>
    </form>
  </div>
</div>