<div class="dashboard">
    <div class="ui-g-12">
      <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"  dateFormat="yy.mm.dd" (onSelect)="tranceDateType();"></p-calendar>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1 class="centerText">GXP 사용량</h1>
            <p-chart type="pie" [data]="gxpDataSet" [options]="chartOptions"></p-chart>
        </div>

        <div class="card">
            <h1 class="centerText">시간별</h1>
            <p-chart type="line" [data]="timeDataSet" [options]="chartOptions2"></p-chart>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1 class="centerText">스토리지</h1>
            <p-chart type="pie" [data]="storageDataSet" [options]="chartOptions"></p-chart>
        </div>

        <div class="card">
            <h1 class="centerText">콘텐츠</h1>
            <p-chart type="bar" [data]="contentsDataSet" [options]="chartOptions3"></p-chart>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1 class="centerText">트래픽</h1>
            <p-chart type="bar" [data]="trafficDataSet" [options]="chartOptions2"></p-chart>
        </div>

        <div class="card">
            <h1 class="centerText">카테고리</h1>
            <p-chart type="bar" [data]="categoryDataSet" [options]="chartOptions2"></p-chart>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <h1 class="centerText">미디어 요약</h1>
            <ul>
                <li>
                    <p>원본파일</p>
                    <a href="#">13</a>개 (<span>500</span>MB)
                </li>
                <li>
                    <p>변환된 파일</p>
                    <a href="#">13</a>개 (<span>500</span>MB)
                </li>
                <li>
                    <p>변환 중 파일</p>
                    <a href="#">0</a>개 (<span>500</span>MB)
                </li>
                <li>
                    <p>재생목록</p>
                    <a href="#">5</a>개
                </li>
            </ul>
        </div>

        <div class="card">
            <h1 class="centerText">진행 예정 양방향 서비스</h1>
            <ul>
                <li>
                    <p>2018.11.12 14:00 ~ 15:00</p>
                    <a href="#" style="display: inline-block; width: 100px;">중1영어 1강</a>
                    라이브
                </li>
                <li>
                    <p>2018.11.12 14:00 ~ 15:00</p>
                    <a href="#" style="display: inline-block; width: 100px;">중1영어 1강</a>예정
                </li>
                <li>
                    <p>2018.11.12 14:00 ~ 15:00</p>
                    <a href="#" style="display: inline-block; width: 100px;">중1영어 1강</a>예정
                </li>
            </ul>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <h1 class="centerText">사용 중 서비스</h1>
            <ul class="dashboardUseService">
              <li>
                <span class="useService">STANDARD</span>
                <span class="useDuration">2018.10.24 ~ 2019.10.24</span>
              </li>
            </ul>
            <div class="txt-center">
                <div class="price_info_sec">
                    <div class="price_title_sec">
                        <h2>STANDARD</h2>
                        <p>
                            곰 HTML5 플레이어<br />
                            기본기능을 제공합니다.
                        </p>
                    </div>
                    <div class="price_contents_sec">
                        <div class="price_contents">
                            <img src="../../../assets/layout/images/gxp/service_img.png" alt="이미지" /><br />
                            <span>월정액</span>
                            <span>&#x20A9;400,000</span>
                        </div>
                        <div class="btn_sec">
                            <a href="#"><button class="change_btn">서비스 변경</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
