* { outline: none; }
.txt-right { text-align: right; }
.left { float: left; }
.right { float: right; }
.c_red { color: #d01212; }

.select_tab_menu {
  padding: 0;
  background: #fe875d !important;
  border: 0 none !important;
}

.select_tab_menu li {
  position: static;
  display: block;
  list-style: none;
  float: left;
  border: none;
  background-color: #fe875d !important;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.select_tab_menu li a { display: block; padding: 0.571em 1.714em 0.571em 1.143em; color: #ffffff; cursor: pointer; }
.select_tab_menu li.on { border-bottom: 4px solid #B34621; }
.select_tab_menu li:not(.on):hover {
  background-color: #B34621 !important;
  border-top: 4px solid rgba(0,0,0,0) !important;
  border-bottom: 4px solid #B34621 !important;
}

td {
  word-break: break-all;
}

li { list-style: none; }
.encoding-preset { border: 1px solid #ddd; background: #fff; color: #555; }
.encoding-preset .encoding-list { margin: 0; padding: 30px 15px; background: #272624; color: #ddd; }
.encoding-preset .encoding-list li { margin-bottom: 15px; }
.encoding-preset .encoding-list li:last-child { margin-bottom: 0; }
.encoding-preset .encoding-detail { border-left: 1px solid #ddd; }
.encoding-preset .encoding-detail span.title { display: inline-block; width: 80px; }

.select-section .sec_list li {border: 1px solid #ccc; padding: 15px; margin: 15px auto; box-sizing: border-box; position: relative;}
.select-section .sec_list li button.close_btn {position: absolute; top: 10px; right: 10px; border: none; cursor: pointer;}
.select-section .sec_list li .time_sec {width: 100%;}
.select-section .sec_list li .time_sec input {width: 100px; height: 30px; margin-top: 15px; border: 1px solid #ddd; padding-left: 10px; box-sizing: border-box;}
.select-section .sec_list li .time_sec .timebar_sec {width: 100%; height: 6px; margin-top: 15px; background: #eee; position: relative;}
.select-section .sec_list li .time_sec .timebar_sec .select_sec {height: 100%; background: #ff6400; position: absolute; top: 0;}