<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad page-title-sec margin-bottom-40">
    <a routerLink="/home"><i class="fas fa-home"></i></a> > 통계 > <span class="path">방문자 통계</span>
  </div>

  <p class="info-txt margin-bottom-30">방문자 통계는 Google Analytics 에서 확인하실 수 있습니다.</p>

  <div class="analytics-container">
    <div class="title-container margin-bottom-20 padding-bottom-20">
      <img src="../../../../assets/images/google_analytics.png">
      <span class="blind">Google Analytics</span>
    </div>
    <div class="input-container margin-right-20">
      <label for="input-id"></label>
      <input pInputText type="text" id="input-id" class="margin-bottom-10" title="아이디 입력" placeholder="아이디 입력" name="userID" autocomplete="off" />

      <label for="input-pswd"></label>
      <input pPassword [feedback]="false" type="password" id="input-pswd" class="margin-bottom-20" title="비밀번호 입력" placeholder="비밀번호 입력" name="userPassword" />
    </div>
    <button type="submit" class="analytics-btn">로그인</button>
    <p class="info-txt">구글 계정 정보를 입력하세요</p>
  </div>
</div>