<div class="ui-g-12 ui-g-nopad content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        CONTENTS / 파일 업로드 / <span class="path">편집해서 올리기</span>
    </div>
    <div class="ui-g-10 ui-g-nopad ui-g-offset-1">
        <edt-preview-wrap class="ui-g-12 ui-g-nopad margin-bottom-50"></edt-preview-wrap>

        <ul class="ui-g-12 ui-g-nopad accordion-sec">
            <li>
                <h3 class="ui-g-12 ui-g-nopad padding-top-10 padding-bottom-10 padding-left-15 padding-right-15 accordion-header">로고</h3>
                <div class="ui-g-12 ui-g-nopad accordion-content">
                    <logo-wrap></logo-wrap>
                </div>
            </li>
            <li>
                <h3 class="ui-g-12 ui-g-nopad padding-top-10 padding-bottom-10 padding-left-15 padding-right-15 accordion-header">워터마크</h3>
                <div class="ui-g-12 ui-g-nopad accordion-content">
                    <wtmk-wrap></wtmk-wrap>
                </div>
            </li>
            <li>
                <h3 class="ui-g-12 ui-g-nopad padding-top-10 padding-bottom-10 padding-left-15 padding-right-15 accordion-header">이벤트</h3>
                <div class="ui-g-12 ui-g-nopad accordion-content">
                    <event-wrap></event-wrap>
                </div>
            </li>
            <li>
                <h3 class="ui-g-12 ui-g-nopad padding-top-10 padding-bottom-10 padding-left-15 padding-right-15 accordion-header">구간선택</h3>
                <div class="ui-g-12 ui-g-nopad accordion-content">
                    <select-section-wrap></select-section-wrap>
                </div>
            </li>
        </ul>

        <!--<p-accordion class="ui-g-12 ui-g-nopad margin-bottom-30">-->
            <!--<p-accordionTab header="로고">-->
                <!--<logo-wrap class="ui-g-12 ui-g-nopad"></logo-wrap>-->
            <!--</p-accordionTab>-->
            <!--<p-accordionTab header="워터마크">-->
                <!--<wtmk-wrap class="ui-g-12 ui-g-nopad"></wtmk-wrap>-->
            <!--</p-accordionTab>-->
            <!--<p-accordionTab header="이벤트">-->
                <!--<event-wrap class="ui-g-12 ui-g-nopad"></event-wrap>-->
            <!--</p-accordionTab>-->
            <!--<p-accordionTab header="구간선택">-->
                <!--<select-section-wrap class="ui-g-12 ui-g-nopad"></select-section-wrap>-->
            <!--</p-accordionTab>-->
        <!--</p-accordion>-->

    </div>
    <div class="ui-g-12 ui-g-nopad margin-top-50 txt-center btn-sec">
        <button class="orange-btn">파일업로드</button>
        <a routerLink="/contents/"><button class="white-btn">취소</button></a>
    </div>
</div>