<div class="ui-g-12 ui-g-nopad margin-bottom-30">
  <folder-picker
    class="margin-right-10"
    [(ngModel)]="selectFolder"
    (onSelect)="updateChoiceFolder($event)"
    ngDefaultControl
  ></folder-picker>

  <div class="dp-inb">
    <label for="search-key"></label><input type="text" class="margin-right-10" id="search-key" [(ngModel)]="searchKey" pInputText placeholder="검색어를 입력해주세요" autocomplete="off">
    <button type="button" class="btn margin-right-10" (click)="search()"><i class="fas fa-search"></i> 검색</button>

    <span class="search-result" id="search-result">총 {{searchCount}}개 검색되었습니다.</span>
  </div>
</div>

<div class="ui-g-12 ui-g-nopad">
  <button class="margin-bottom-20" type="button" pButton label="다중비교" (click)="showCompareResult()" *ngIf="!isCompareStatus"></button>
  <button class="margin-bottom-20" type="button" pButton label="비교취소" (click)="showSingleResult()" *ngIf="isCompareStatus"></button>
  <div class="ui-g-12 ui-g-nopad margin-bottom-50">
    <p-table #dt [columns]="playSectionStatisticsCols" [value]="playSectionStatisticsDatas" [resizableColumns]="true" sortField="regdate" [sortOrder]="-1" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20,50,100]" [(selection)]="tempCompareItems" (onRowSelect)="onRowSelect()" (onRowUnselect)="onRowSelect()" (sortFunction)="setTableIndex($event)" [customSort]="true">
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <button type="button" pButton  label="다운로드" (click)="dt.exportCSV()" style="float:right"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col.field" pResizableColumn>
            {{ col.header }}
            <p-sortIcon *ngIf="i !== 0" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-playTimeStatisticsData>
        <tr [pSelectableRow]="rowData">
          <td>
            <p-tableCheckbox [value]="playTimeStatisticsData"></p-tableCheckbox>
          </td>
          <td>{{ playTimeStatisticsData['no'] }}</td>
          <td>{{ playTimeStatisticsData['groupName'] }}</td>
          <td>{{ playTimeStatisticsData['folderName'] }}</td>
          <td style="text-align: left; padding-left: 10px;">{{ playTimeStatisticsData['contentsName'] }}</td>
          <td>{{ playTimeStatisticsData['duration'] }}</td>
          <td>{{ playTimeStatisticsData['playTime'] }}</td>
          <td>{{ playTimeStatisticsData['playCount'] }}</td>
          <td>{{ playTimeStatisticsData['regdate'] }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--재생구간-->
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad margin-top-30 margin-bottom-30" style="padding: 30px 70px; border: 1px solid #ddd; background: #fff;">
      <div class="play-section-chart-container" [ngClass]="compareItems.length === 1 ? 'ui-g-12' : 'ui-g-6'" *ngFor="let i of compareLength">
        <div class="section-point-bar" [ngClass]="'section-point-bar'+i"></div>
        <p-chart type="line" [id]="'section'+i" [data]="comparePlaySectionData[i]" [options]="chartOptions" width="100%" height="300px"></p-chart>
      </div>
    </div>

    <div class="ui-g-12 ui-g-nopad">
      <div class="margin-bottom-10">
        <span class="section-info popular-section margin-right-10">인기구간</span> <span class="section-info leave-section margin-right-10">이탈구간</span> <span class="section-info popular-repeat-section">인기 반복구간</span>
      </div>
      <p-table #rt [value]="compareSectionDatas" [columns]="compareSectionCols" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[20, 50, 100]">
        <ng-template pTemplate="caption">
          <div class="ui-helper-clearfix">
            <button type="button" pButton  label="다운로드" (click)="rt.exportCSV()" style="float:right"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <!--<th>재생구간</th>-->
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-compareItem let-columns="columns">
          <tr *ngFor="let item of compareItem;">
            <!--<td>-->
              <!--구간 조회수-->
            <!--</td>-->
            <td [attr.rowspan]="compareItems.length" *ngIf="item['index'] === 0">{{ item['date'] }}</td>
            <td>{{ item['contentsName'] }}</td>
            <td [ngClass]="{'popular-section': item['p10'] === comparePopularSectionValue[item.index], 'leave-section': item['p10'] === compareLeaveSectionValue[item.index]}"> {{ item['p10'] }} </td>
            <td [ngClass]="{'popular-section': item['p20'] === comparePopularSectionValue[item.index], 'leave-section': item['p20'] === compareLeaveSectionValue[item.index]}"> {{ item['p20'] }} </td>
            <td [ngClass]="{'popular-section': item['p30'] === comparePopularSectionValue[item.index], 'leave-section': item['p30'] === compareLeaveSectionValue[item.index]}"> {{ item['p30'] }} </td>
            <td [ngClass]="{'popular-section': item['p40'] === comparePopularSectionValue[item.index], 'leave-section': item['p40'] === compareLeaveSectionValue[item.index]}"> {{ item['p40'] }} </td>
            <td [ngClass]="{'popular-section': item['p50'] === comparePopularSectionValue[item.index], 'leave-section': item['p50'] === compareLeaveSectionValue[item.index]}"> {{ item['p50'] }} </td>
            <td [ngClass]="{'popular-section': item['p60'] === comparePopularSectionValue[item.index], 'leave-section': item['p60'] === compareLeaveSectionValue[item.index]}"> {{ item['p60'] }} </td>
            <td [ngClass]="{'popular-section': item['p70'] === comparePopularSectionValue[item.index], 'leave-section': item['p70'] === compareLeaveSectionValue[item.index]}"> {{ item['p70'] }} </td>
            <td [ngClass]="{'popular-section': item['p80'] === comparePopularSectionValue[item.index], 'leave-section': item['p80'] === compareLeaveSectionValue[item.index]}"> {{ item['p80'] }} </td>
            <td [ngClass]="{'popular-section': item['p90'] === comparePopularSectionValue[item.index], 'leave-section': item['p90'] === compareLeaveSectionValue[item.index]}"> {{ item['p90'] }} </td>
            <td [ngClass]="{'popular-section': item['p100'] === comparePopularSectionValue[item.index], 'leave-section': item['p100'] === compareLeaveSectionValue[item.index]}"> {{ item['p100'] }} </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
          <tr  *ngFor="let item of compareSectionAverageData">
            <!--<td [attr.rowspan]="compareItems.length" *ngIf="item['index'] === 0">평균</td>-->
            <td [attr.rowspan]="compareItems.length" *ngIf="item['index'] === 0">{{ item['date'] }}</td>
            <td> {{ item['contentsName'] }} </td>
            <td [ngClass]="{'popular-section': item['p10'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p10'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p10'] }} </td>
            <td [ngClass]="{'popular-section': item['p20'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p20'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p20'] }} </td>
            <td [ngClass]="{'popular-section': item['p30'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p30'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p30'] }} </td>
            <td [ngClass]="{'popular-section': item['p40'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p40'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p40'] }} </td>
            <td [ngClass]="{'popular-section': item['p50'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p50'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p50'] }} </td>
            <td [ngClass]="{'popular-section': item['p60'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p60'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p60'] }} </td>
            <td [ngClass]="{'popular-section': item['p70'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p70'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p70'] }} </td>
            <td [ngClass]="{'popular-section': item['p80'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p80'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p80'] }} </td>
            <td [ngClass]="{'popular-section': item['p90'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p90'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p90'] }} </td>
            <td [ngClass]="{'popular-section': item['p100'] === comparePopularSectionAverageValue[item.index], 'leave-section': item['p100'] === compareLeaveSectionAverageValue[item.index]}"> {{ item['p100'] }} </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="columns.length+1" class="emptyMessage">표시할 데이터가 없습니다.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="isShowMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-25 margin-bottom-25">비교할 파일을 선택해주세요.</p>
  <div class="txt-center">
    <button type="button" class="btn" (click)="isShowMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>
<p-dialog [(visible)]="isShowCheckLimitMessage" [width]="400" [modal]="true" [showHeader]="false">
  <p class="txt-center margin-top-25 margin-bottom-25">2개까지 선택하실 수 있습니다.</p>
  <div class="txt-center">
    <button type="button" class="btn" (click)="isShowCheckLimitMessage=false;" label="confirm"><i class="fas fa-check"></i> 확인</button>
  </div>
</p-dialog>