<div class="ui-g-8 ui-g-offset-2 ui-g-nopad main-content-sec">
    <div class="ui-g-12 ui-g-nopad page-title-sec">
        HOME / <span class="path">대시보드</span>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">인코딩</h3>
            <div class="dash-data">
                <div class="data-sec">
                    <p class="data-title">오늘</p>
                    <p class="data-time">
                        <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>분
                    </p>
                </div>
                <div class="data-sec">
                    <p class="data-title">지난 1주일</p>
                    <p class="data-time">
                        <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>분
                    </p>
                </div>
                <div class="data-sec">
                    <p class="data-title">지난 달</p>
                    <p class="data-time">
                        <span class="data-start">2018.04.01</span> ~ <span class="data-end">2018.04.30</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>분
                    </p>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">콘텐츠</h3>
            <div class="dash-data">
                <div class="data-sec">
                    <p class="data-title">오늘</p>
                    <p class="data-time">
                        <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>개
                    </p>
                </div>
                <div class="data-sec">
                    <p class="data-title">지난 1주일</p>
                    <p class="data-time">
                        <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>개
                    </p>
                </div>
                <div class="data-sec">
                    <p class="data-title">지난 달</p>
                    <p class="data-time">
                        <span class="data-start">2018.04.01</span> ~ <span class="data-end">2018.04.30</span>
                    </p>
                    <p class="data-value">
                        <span>00</span>개
                    </p>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">플레이어</h3>
            <ul class="ui-g-12 ui-g-nopad tab-sec">
                <li class="on">오늘</li>
                <li>지난 1주일</li>
                <li>지난 달</li>
            </ul>
            <div class="ui-g-12 ui-g-nopad player-dash-sec">
                <p class="data-time">
                    <span class="data-start">2018.05.03</span> ~ <span class="data-end">2018.05.09</span>
                </p>
                <div class="ui-g-12 ui-g-nopad dash-sec">
                    <h3 class="dash-title">디바이스별</h3>
                    <div class="dash-data">
                        <div class="data-sec">
                            <p class="data-title">PC웹</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">모바일</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">기타</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad dash-sec">
                    <h3 class="dash-title">OS별</h3>
                    <div class="dash-data">
                        <div class="data-sec">
                            <p class="data-title">iOS</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">Android</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">기타</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad dash-sec">
                    <h3 class="dash-title">총 재생 수</h3>
                    <div class="dash-data">
                        <div class="data-sec">
                            <p class="data-title">오늘</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">지난 1주일</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                        <div class="data-sec">
                            <p class="data-title">지난 달</p>
                            <p class="data-value">
                                <span>00</span>회
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>