<div class="item-container">
  <div class="item-group margin-right-20">
    <h3>GXP 사용량</h3>
    <a routerLink="/statistics/usage-analysis/gxp">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 이번 달 사용량</span>
      </div>
    </a>
  </div>
  <div class="item-group margin-right-20">
    <h3>스토리지</h3>
    <a routerLink="/statistics/usage-analysis/storage">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="pie" [data]="chartDataSet" [options]="chartOptions" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 이번 달 사용량</span>
      </div>
    </a>
  </div>
  <div class="item-group">
    <h3>날짜별</h3>
    <a routerLink="/statistics/play-statistics/date">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="line" [data]="dateChartDataSet" [options]="chartOptions2" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 재생수</span>
      </div>
    </a>
  </div>
  <div class="item-group margin-right-20">
    <h3>시간별</h3>
    <a routerLink="/statistics/play-statistics/time">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="timeChartDataSet" [options]="chartOptions2" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 재생수</span>
      </div>
    </a>
  </div>
  <div class="item-group margin-right-20">
    <h3>콘텐츠</h3>
    <a routerLink="/statistics/play-statistics/contents">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="contentsChartDataSet" [options]="chartOptions3" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 이번 달 평균</span>
      </div>
    </a>
  </div>
  <div class="item-group">
    <h3>카테고리</h3>
    <a routerLink="/statistics/play-statistics/category">
      <div class="ui-g-12 ui-g-nopad chart">
        <p-chart type="bar" [data]="categoryChartDataSet" [options]="chartOptions2" width="100%" height="200px"></p-chart>
        <span class="info-txt">※ 이번 달 평균</span>
      </div>
    </a>
  </div>
</div>
