<div class="ui-g-8 ui-g-offset-2 ui-g-nopad main-content-sec">
    <path></path>

    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">인코딩</h3>
            <home-data [params]="encoding"></home-data>
        </div>
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">콘텐츠</h3>
            <home-data></home-data>
        </div>
        <div class="ui-g-12 ui-g-nopad dash-sec">
            <h3 class="dash-title">플레이어</h3>

            <p-tabView class="ui-g-12 ui-g-nopad">
                <p-tabPanel header="오늘" class="ui-g-12 ui-g-nopad">
                    <home-data-player></home-data-player>
                </p-tabPanel>
                <p-tabPanel header="지난 1주일" class="ui-g-12 ui-g-nopad">
                    <home-data-player></home-data-player>
                </p-tabPanel>
                <p-tabPanel header="지난 달" class="ui-g-12 ui-g-nopad">
                    <home-data-player></home-data-player>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>