<realtime-monitoring *ngIf="params['id'] === 'realtime-monitoring'"></realtime-monitoring>
<encoding-monitoring *ngIf="params['id'] === 'encoding-monitoring'"></encoding-monitoring>
<user-manager *ngIf="params['id'] === 'user-manager'"></user-manager>
<client-manager *ngIf="params['id'] === 'client-manager'"></client-manager>
<license-manager *ngIf="params['id'] === 'license-manager'"></license-manager>
<license-detail *ngIf="params['id'] === 'license-detail'"></license-detail>
<support-manager *ngIf="params['id'] === 'support-manager'"></support-manager>