<div class="ui-g-12 ui-g-nopad margin-bottom-50">
  <div class="ui-g-12 ui-g-nopad search-sec margin-bottom-30">
    <label for="group-key" class="margin-right-10">변환 그룹 선택</label>
    <p-dropdown id="group-key" placeholder="그룹 선택" [options]="selectedGroupOptions" [(ngModel)]="selectedGroup" class="margin-right-20"></p-dropdown>
    <label for="file-key" class="margin-right-10">파일명</label>
    <input type="text" id="file-key" pInputText placeholder="파일명 입력" [(ngModel)]="searchKey" class="margin-right-20" autocomplete="off">
    <button type="button" class="btn" (click)="filterSearch()"><i class="fas fa-search"></i> 검색</button>
  </div>
  <div class="ui-g-12 ui-g-nopad btn-sec margin-bottom-30">
    <button class="btn margin-right-5" (click)="changeStatusRestart()" *ngIf="params['id'] === 'complete' || params['id'] === 'fail'"><i class="fas fa-redo"></i>  선택 파일 변환 재시작</button>
    <button class="btn" (click)="refresh()"><i class="fas fa-sync-alt"></i> 새로고침</button>
  </div>

  <div class="ui-g-12 ui-g-nopad row-info-sec margin-bottom-20">
    ㆍTotal <span class="total-row">{{ gettotalListLength }}</span>건 <!--(<span class="now-page">{{ currentIndex }}</span>Page / <span class="total-page">{{ totalIndex }}</span>Page)-->
  </div>

  <div class="ui-g-12 ui-g-nopad" *ngIf="params['id'] === 'standby'">
    <p-table class="ui-g-12 ui-g-nopad margin-bottom-50" [value]="filterTcMonitoringLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" [resizableColumns]="true" [(selection)]="selectItems">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tcStandByCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tcStandByCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filterTcMonitoringList >
        <tr [pSelectableRow]="filterTcMonitoringList">
          <td>
            <p-tableCheckbox [value]="filterTcMonitoringList" ></p-tableCheckbox>
          </td>
          <td>{{ filterTcMonitoringList.index }}</td>
          <td>{{ filterTcMonitoringList.grp_nm }}</td>
          <td>{{ filterTcMonitoringList.ft_path }}</td>
          <td>{{ filterTcMonitoringList.ft_reg_dtm }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="params['id'] === 'request'">
    <p-table class="ui-g-12 ui-g-nopad margin-bottom-50" [value]="filterTcMonitoringLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" [resizableColumns]="true" [(selection)]="selectItems">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tcRequestCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tcRequestCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filterTcMonitoringList>
        <tr [pSelectableRow]="filterTcMonitoringList">
          <td>
            <p-tableCheckbox [value]="filterTcMonitoringList" ></p-tableCheckbox>
          </td>
          <td>{{ filterTcMonitoringList.index }}</td>
          <td>{{ filterTcMonitoringList.grp_nm }}</td>
          <td>{{ filterTcMonitoringList.ft_path }}</td>
          <td>{{ filterTcMonitoringList.ft_reg_dtm }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="params['id'] === 'progress'">
    <p-table class="ui-g-12 ui-g-nopad margin-bottom-50" [value]="filterTcMonitoringLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" [resizableColumns]="true" [(selection)]="selectItems">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tcProgressCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tcProgressCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filterTcMonitoringList>
        <tr [pSelectableRow]="filterTcMonitoringList">
          <td>
            <p-tableCheckbox [value]="filterTcMonitoringList" ></p-tableCheckbox>
          </td>
          <td>{{ filterTcMonitoringList.index }}</td>
          <td>{{ filterTcMonitoringList.grp_nm }}</td>
          <td>{{ filterTcMonitoringList.ft_path }}</td>
          <td>{{ filterTcMonitoringList.gto_nm }}</td>
          <!--<td>{{ filterTcMonitoringList.ft_progress }}</td>-->
          <td>
            <p-progressBar [value]="filterTcMonitoringList.ft_progress" [style]="{'width': '50%', 'display': 'inline-block', 'vertical-align': 'bottom'}" [showValue]="false"></p-progressBar> {{ filterTcMonitoringList.ft_progress }} %
          </td>
          <td>{{ filterTcMonitoringList.ft_ts_ip }}</td>
          <td>{{ filterTcMonitoringList.ft_reg_dtm }}</td>
          <td>{{ filterTcMonitoringList.ft_start_dtm }}</td>
          <td>{{ filterTcMonitoringList.ft_end_dtm }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="params['id'] === 'complete'">
    <p-table class="ui-g-12 ui-g-nopad margin-bottom-50" [value]="filterTcMonitoringLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" [resizableColumns]="true" [(selection)]="selectItems">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tcCompleteCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tcCompleteCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filterTcMonitoringList>
        <tr [pSelectableRow]="filterTcMonitoringList">
          <td>
            <p-tableCheckbox [value]="filterTcMonitoringList" ></p-tableCheckbox>
          </td>
          <td>{{ filterTcMonitoringList.index }}</td>
          <td>{{ filterTcMonitoringList.grp_nm }}</td>
          <td>{{ filterTcMonitoringList.ft_path }}</td>
          <td>{{ filterTcMonitoringList.ft_ts_ip }}</td>
          <td>{{ filterTcMonitoringList.ft_reg_dtm }}</td>
          <td>{{ filterTcMonitoringList.ft_start_dtm }}</td>
          <td>{{ filterTcMonitoringList.ft_end_dtm }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="params['id'] === 'fail'">
    <p-table class="ui-g-12 ui-g-nopad margin-bottom-50" [value]="filterTcMonitoringLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,30,50,100]" [resizableColumns]="true" [(selection)]="selectItems">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of tcFailCols" [style.width]="col.width">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of tcFailCols" pResizableColumn>
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-filterTcMonitoringList>
        <tr [pSelectableRow]="filterTcMonitoringList">
          <td>
            <p-tableCheckbox [value]="filterTcMonitoringList" ></p-tableCheckbox>
          </td>
          <td>{{ filterTcMonitoringList.index }}</td>
          <td>{{ filterTcMonitoringList.grp_nm }}</td>
          <td>{{ filterTcMonitoringList.ft_path }}</td>
          <td>{{ filterTcMonitoringList.ft_ts_ip }}</td>
          <td>{{ filterTcMonitoringList.ft_fail_cnt }}</td>
          <td>{{ filterTcMonitoringList.ft_msg }}</td>
          <td>{{ filterTcMonitoringList.ft_end_dtm }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8" class="emptyMessage">표시할 데이터가 없습니다.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog width="500" #confirm>
  <p-footer>
    <button type="button" class="btn margin-right-10" (click)="confirm.accept()"><i class="fas fa-check"></i> 확인</button>
    <button type="button" class="btn" (click)="confirm.reject()"><i class="fas fa-times"></i> 취소</button>
  </p-footer>
</p-confirmDialog>