
/*테이블*/
.groupMng-table-sec {margin-bottom: 50px;}
.groupMng-table-sec .table-title-sec {overflow: hidden; height: 50px; line-height: 50px; padding: 0 10px; background: #f1f1f1; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.groupMng-table-sec .table-title-sec h3 {float: left; font-size: 15px;}
.groupMng-table-sec .table-title-sec .orange-btn {float: right; line-height: 20px; margin-top: 10px;}
.groupMng-table-sec table tr td input,
.groupMng-table-sec table tr td select {max-width: 60px;}


  /*폼*/
.req {color: #f52727;}
.form-info-sec {margin-bottom: 30px; font-size: 13px; color: #666; }
.form-sec table tr td input {width: 400px; height: 30px;}
.form-sec table tr td textarea {width: 400px; height: 150px;}
.form-sec .btn-sec {margin: 30px 0; text-align: center;}

td {padding: 10px 5px !important;}