
/*테이블*/
.groupMng-table-sec {margin-bottom: 50px;}
.groupMng-table-sec .table-title-sec {overflow: hidden; height: 50px; line-height: 50px; padding: 0 10px; background: #ebedf0; border-bottom: 1px solid #ddd; box-sizing: border-box;}
.groupMng-table-sec .table-title-sec h3 {float: left; font-size: 15px;}
.groupMng-table-sec .table-title-sec .orange-btn {float: right; line-height: 20px; margin-top: 10px;}
.groupMng-table-sec table tr th {background: #fcfcfc;}
.groupMng-table-sec table tr td {background: #fff;}
.groupMng-table-sec table tr td input,
.groupMng-table-sec table tr td select {max-width: 60px;}

  /*폼*/
.req {color: #f52727;}
.form-info-sec {margin-bottom: 30px; font-size: 13px; color: #666; }
.form-sec table tr td input {width: 400px; height: 30px;}
.form-sec table tr td textarea {width: 400px; height: 150px;}
.form-sec .btn-sec {margin: 30px 0; text-align: center;}

td {padding: 10px 5px !important;}

.settingOptionTr td input {width: 80px; height: 25px; }

.btn {padding: 10px;}

.button-area label {
  display: inline-block;
  width: 100%; height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: #ddd;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.button-area label:hover {
  background: #ccc;
}
.button-area label.on {
  background: #ff6400;
  color: #fff;
}

.player-view-area {
  position: relative;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.player-view-area img#defaultImg {
  display: block;
  width: 100%;
}
.player-view-area .overlay-area img {
  display: none;
  position: absolute;
}
.player-view-area .overlay-area input[type='checkbox'] {
  display: none;
}
.player-view-area .overlay-area input[type='checkbox']:checked + img {
  display: block;
}
.player-view-area .overlay-area img#bookmarkImg {
  top: 2%; right: 7%;
  width: 4%;
}
.player-view-area .overlay-area img#settingImg {
  top: 2%; right: 3%;
  width: 4%;
}
.player-view-area .overlay-area img#nextVideoImg {
  bottom: 0; left: 7.8%;
  width: 4%;
}
.player-view-area .overlay-area img#playbackRateImg {
  top: 27%; left: 10%;
  width: 7%;
}
.player-view-area .overlay-area img#loopPortionImg {
  bottom: 0; right: 16%;
  width: 4%;
}
.player-view-area .overlay-area img#qualityImg {
  bottom: 0; right: 12%;
  width: 4%;
}
.player-view-area img#cinemaModeImg {
  bottom: 0; right: 8%;
  width: 4%;
}
.player-view-area img#fullscreenImg {
  bottom: 0; right: 4%;
  width: 4%;
}

.btn-sec {
  text-align: center;
}
.btn-sec button {
  width: 180px;
  height:50px;
}