<div class="ui-g-2 ui-g-nopad">
    <p class="group-list-title margin-top-30 margin-bottom-10 padding-left-10"><i class="fas fa-users"></i> 그룹 리스트</p>

    <a routerLink="/settings/group-manager">
        <p-tree id="treeObject" [value]="groupList" selectionMode="single" [(selection)]="selectGroup" (onNodeSelect)="getGroupSeq()" class="ui-g-12 ui-g-nopad margin-bottom-50" [style]="{width: '100%', padding: '10px 0'}"></p-tree>
    </a>
    <nav class="ui-g-12 ui-g-nopad lnb-sec" style="border-top: 1px solid #e5e5e5;">
        <ul class="border-lnb">
            <li class="has-sub on" id="preset"><a routerLink="/settings/preset/player">프리셋 설정 <i class="fas fa-angle-up"></i></a></li>
            <ul class="sub-lnb">
                <li id="player"><a routerLink="/settings/preset/player">플레이어 프리셋</a></li>
            </ul>
            <li id="user-modify"><a routerLink="/settings/user-modify">개인정보 수정</a></li>
            <li id="change-password"><a routerLink="/settings/change-password">비밀번호 변경</a></li>
        </ul>
    </nav>
</div>
<div class="ui-g-10 ui-g-nopad">
    <group-manager *ngIf="params['id'] === 'group-manager'" [groupSeq]="groupSeq"></group-manager>
    <user-modify *ngIf="params['id'] === 'user-modify'"></user-modify>
    <change-password *ngIf="params['id'] === 'change-password'"></change-password>
    <player-preset *ngIf="params['sub-id'] === 'player'"></player-preset>
</div>