<div class="ui-g-2 ui-g-nopad">
    <a routerLink="/settings/group-mng">
        <p-tree [value]="groupList" selectionMode="single" [(selection)]="selectGroup" (onNodeSelect)="getGroupSeq()" class="ui-g-12 ui-g-nopad margin-bottom-50"></p-tree>
    </a>

    <nav class="ui-g-12 ui-g-nopad lnb-sec">
        <ul>
            <li><a routerLink="/settings/user-modify">개인정보 수정</a></li>
            <li><a routerLink="/settings/change-pswd">비밀번호 변경</a></li>
        </ul>
    </nav>
</div>
<div class="ui-g-10 ui-g-nopad">
    <group-mng *ngIf="params.id === 'group-mng'" [groupData]="groupData" [transOptions]="transOptions"></group-mng>
    <add-group *ngIf="params.id === 'add-group'"></add-group>
    <user-modify *ngIf="params.id === 'user-modify'"></user-modify>
    <change-pswd *ngIf="params.id === 'change-pswd'"></change-pswd>
</div>